@mixin o-button {
  @include ts-button;
  align-items      : center;
  background-color : $blue;
  border           : 0;
  box-sizing       : border-box;
  color            : $white;
  cursor           : pointer;
  display          : inline-flex;
  justify-content  : space-between;
  text-align       : left;
  border-radius    : 10px;
  font-size        : 14px;
  margin-top       : 0px !important;
  padding          : var(--space-m) var(--space-2xl);
  text-transform   : uppercase;
  
  @include media('<tablet') {
	font-size  : 10px;
	padding    : var(--space-m) var(--space-2xl);
	text-align : center;
	padding    : var(--space-xs) var(--space-l);
  }
  
  &__icon-wrapper {
	align-items      : center;
	background-color : $white;
	border-radius    : 100%;
	color            : $black;
	display          : flex;
	height           : 24px;
	justify-content  : center;
	width            : 24px;
  }
}

.o-button {
  @include o-button;
}

