.o-content-from-editor {
  // Dummy content prefill available from: http://www.wpfill.me/ or http://wpfill.sbx.so/
  
  &--native {
	grid-column : 1/7;
  }
  
  /* HTML elements
  ================================================== */
  @include editor-base;
  
  /* Spacing
  ================================================== */
  > :last-child {
	margin-bottom : 0;
  }
  
  /* Images
  ================================================== */
  img {
	display   : block;
	height    : auto;
	max-width : 100%;
  }
  
  /* Captioned Images
  ================================================== */
  .wp-caption {
	display        : inline-block;
	margin         : 0 var(--space-l) var(--space-l) 0;
	vertical-align : top;
	
	img {
	  display   : block;
	  height    : auto;
	  max-width : 100%;
	}
  }
  
  .wp-caption-text {
	//@extend .ts-caption;
	margin-top : var(--space-xs);
	text-align : left;
	
	p:last-child,
	ul:last-child,
	ol:last-child {
	  margin-bottom : 0;
	}
  }
  
  /* Aligned Images
  ================================================== */
  .alignleft {
	float  : left;
	margin : var(--space-xs) var(--space-l) var(--space-xs) 0;
	
	.wp-caption-text {
	  padding-left : 0;
	  text-align   : left;
	}
  }
  
  .aligncenter {
	display : block;
	margin  : var(--space-m) auto var(--space-l);
	
	.wp-caption-text {
	  text-align : center;
	}
  }
  
  .alignright {
	float  : right;
	margin : var(--space-xs) 0 var(--space-xs) var(--space-l);
	
	.wp-caption-text {
	  padding-right : 0;
	  text-align    : right;
	}
  }
  
  .alignnone {
	display   : block;
	height    : auto;
	margin    : var(--space-xs) 0 var(--space-l);
	max-width : 100%;
	
	.wp-caption-text {
	  padding-left : 0;
	}
  }
  
  .alignleft,
  .alignright,
  .alignnone {
	@include media("<tablet") {
	  display       : block;
	  float         : none;
	  margin-bottom : var(--space-m);
	  margin-left   : 0;
	}
	
	.wp-caption-text {
	  @include media("<tablet") {
		padding-left : 0;
		text-align   : left;
	  }
	}
  }
  
  /* Wordpress Galleries - Ew!
  ================================================== */
  .gallery {
	display       : block;
	margin-bottom : var(--space-l);
  }
  
  .gallery-item {
	display        : inline-block;
	vertical-align : top;
  }
  
  .gallery-columns-3 .gallery-item {
	// width : calc(100% / 3);
  }
  
  
  /* Iframes
  ================================================== */
  
  .iframe-container {
	height         : 0;
	margin         : var(--space-xl) 0;
	overflow       : hidden;
	padding-bottom : 56.25%;
	position       : relative;
	
	iframe,
	object,
	embed {
	  height   : 100%;
	  left     : 0;
	  position : absolute;
	  top      : 0;
	  width    : 100%;
	}
  }
  
  a.o-button {
	color : $white;
	
	&:hover,
	&:focus {
	  color : $green;
	}
	
	&--pdf {
	  margin-top : var(--space-xl) !important;
	}
  }
  
}
