// Only for the story content type
//.single-story {
.o-fade {
  opacity    : 0;
  transform  : translateY(100px);
  transition : 1.2s opacity, 0.5s transform;

  &.is-animated {
    opacity   : 1;
    transform : translateY(0);
  }
}

//}
