.o-image-credit {
  @include ts-body-small;
  color      : $dark-grey;
  margin-top : 12px;

  a {
    color           : $dark-blue;
    text-decoration : underline;
    transition      : 0.2s color;

    &:hover, &:focus {
      color           : $bright-orange;
      text-decoration : underline;
    }
  }

  /* Images in WYSIWYG output
  ================================================== */
  .o-content-from-editor & {
    p {
      @include ts-body-small;
      display : inline;
    }
  }
}