.o-section {
  $class  : &;
  padding : var(--space-3xl) 0 var(--space-3xl);
  
  & + & {
	padding-top : 0;
  }
  
  /*& + .o-section-quote {
    margin-top : -64px;
  }*/
  
  @include media("<tablet") {
	padding : var(--space-xl) 0;
  }
  
  > #{$class}:last-of-type {
	padding-bottom : 0;
  }
  
  /* Items without backgrounds
  ================================================== */
  &--no-background + &--no-background {
	padding-top : 0;
  }
  
  /* Different types next to eachother
  ================================================== */
  &--has-background + &--no-background,
  &--no-background + &--has-background {
	padding-top : var(--space-2xl);
  }
  
  /* Items with backgrounds
  ================================================== */
  &--has-background {
	padding : var(--space-2xl) 0;
	
	& + & {
	  padding-top : 0;
	}
  }
}
