.o-single {
  $class   : &;
  position : relative;


  &__inner {
	@include grid;
	margin-top : 116px;

	@include media("<tablet") {
	  margin-top : 60px;
	}
  }

  &__article {
	@include grid;
	grid-column : 1/-1;
	position    : relative;

	@include media("<tablet") {
	  grid-column : 1/-1;
	}
  }

  &__header {
	grid-column : 1/8;


	@include media("<tablet") {
	  grid-column : 1/-1;
	}
  }

  &__content-wrapper {
	@include grid;
	grid-column : 1/-1;
	margin-top  : var(--space-xl);

	@include media("<tablet") {
	  grid-column : 1/-1;
	  margin-top  : var(--space-l);
	}
  }

  &__content {
	grid-column : 1/8;

	@include media("<tablet") {
	  grid-column : 1/-1;
	}
  }

  &__content--full-width {
	grid-column : 1/-1;

	@include media("<tablet") {
	  grid-column : 1/-1;
	}
  }

  &__sidebar {
	grid-column : 9/-1;
	position    : relative;

	@include media("<tablet") {
	  grid-column : 1/-1;
	}
  }

  &__title {
	@include ts-heading-3;
  }

  &__subtitle {
	@include ts-heading-5;
	margin-top : var(--space-s);
  }

  &__text-block {
	@include ts-body();
  }

  &__list {
	@include ts-meta;
	margin-bottom : var(--space-xl);

	@include media("<tablet") {
	  margin-bottom : var(--space-l);
	}
  }

  &__list-title {
	@include ts-heading-5;
  }

  &__featured-image-wrapper {
	margin-bottom : var(--space-xl);
  }

  &__featured-image img {
	height : auto;
	width  : 100%;
  }

  &__featured-image-caption {
	@include ts-body();
	color       : $blue;
	font-size   : 14px;
	font-weight : 400;
	margin-top  : 27px;
  }
}
