/*
    ===============================
    VARIABLES
    ===============================
*/
/*
 * Example @font-face done nicely:

@font-face {
  font-family : "Founders Grotesk";
  src         : url("../fonts/FoundersGroteskWeb-Regular.woff2") format("woff2"),
  url("../fonts/FoundersGroteskWeb-Regular.woff") format("woff");
  font-display: swap;
  font-style  : normal;
  font-weight : 400;
}

@font-face {
  font-family : "Founders Grotesk";
  src         : url("../fonts/FoundersGroteskWeb-RegularItalic.woff2") format("woff2"),
  url("../fonts/FoundersGroteskWeb-RegularItalic.woff") format("woff");
  font-display: swap;
  font-style  : italic;
  font-weight : 400;
}

@font-face {
  font-family : "Founders Grotesk";
  src         : url("../fonts/FoundersGroteskWeb-Medium.woff2") format("woff2"),
  url("../fonts/FoundersGroteskWeb-Medium.woff") format("woff");
  font-display: swap;
  font-style  : normal;
  font-weight : 700;
}

@font-face {
  font-family : "Heldane";
  src         : url("../fonts/heldane-text-web-regular.woff2") format("woff2"),
  url("../fonts/heldane-text-web-regular.woff") format("woff");
  font-display: swap;
  font-style  : normal;
  font-weight : 400;
}
*/
/* Gutenberg
================================================== */
/* Baseline
================================================== */
/* Spacing
================================================== */
:root {
	--space-xxs: 4px;
	--space-xs: 8px;
	--space-s: 12px;
	--space-m: 16px;
	--space-l: 24px;
	--space-xl: 32px;
	--space-2xl: 48px;
	--space-3xl: 64px;
	--space-4xl: 80px;
}

/*

Usage examples:

Single value:
  padding: var(--space-xl);

Multi value:
  padding: var(--space-m) 0 var(--space-l);

 */
/*
    ===============================
    MIXINS
    ===============================
*/
/*
    ===============================
    COMMON CODE
    ===============================
*/
/* Z-index management
================================================== */
/*
    ===============================
    TYPOGRAPHY
    ===============================
*/
/* Font families */
/* Body text */
/*
    ===============================
    MISC
    ===============================
*/
/* #General body
================================================== */
/* #Headings
================================================== */
/* Ts-Hero
================================================== */
/* Pull-Quote
================================================== */
/* Description
================================================== */
/* Small Description
================================================== */
/* Credit
================================================== */
/* Labels
================================================== */
/* Breadcrumbs
================================================== */
/* Buttons
================================================== */
/*
    ===============================
    OBJECTS
    ===============================
*/
.o-button {
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	align-items: center;
	background-color: #000000;
	border: 0;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-flex;
	justify-content: space-between;
	padding: var(--space-s) var(--space-m);
	text-align: left;
}

.o-button__icon-wrapper {
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 100%;
	color: #000000;
	display: flex;
	height: 24px;
	justify-content: center;
	width: 24px;
}

/*
    ===============================
    COMPONENTS
    ===============================
*/
.wp-block-embed figcaption {
	text-align: left;
}

.wp-block-image {
	margin-left: auto;
	margin-right: auto;
	max-width: 1136px;
}

.wp-block-image figcaption {
	text-align: left;
}

.wp-block-image .aligncenter,
.wp-block-image .alignleft,
.wp-block-image .alignright {
	margin-bottom: .5em;
}

.c-call-to-action {
	background-color: #061854;
	box-sizing: border-box;
	color: #FFFFFF;
	padding: var(--space-2xl);
}

@media (max-width: 767px) {
	.c-call-to-action {
		background: red;
	}
}

.c-call-to-action__title {
	font-family: 'Oxygen', sans-serif;
	font-size: 64px;
	line-height: 72px;
	font-weight: 400;
	letter-spacing: -1px;
}

@media (max-width: 1023px) {
	.c-call-to-action__title {
		font-size: 52px;
		line-height: 64px;
	}
}

@media (max-width: 767px) {
	.c-call-to-action__title {
		font-size: 40px;
		line-height: 48px;
		letter-spacing: -0.8px;
	}
}

.c-call-to-action__button {
	font-family: 'Oxygen', sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 600;
	align-items: center;
	background-color: #000000;
	border: 0;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-flex;
	justify-content: space-between;
	padding: var(--space-s) var(--space-m);
	text-align: left;
	margin-top: var(--space-xl);
}

.c-call-to-action__button__icon-wrapper {
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 100%;
	color: #000000;
	display: flex;
	height: 24px;
	justify-content: center;
	width: 24px;
}

/*
    ===============================
    Content Width
    ===============================
*/
.wp-block {
	max-width: 800px;
}

.wp-block[data-align=wide] {
	/* it can be "data-align=full" and also "right", "left" and "center" */
	max-width: 1228px;
}

/*
    ===============================
    Post Title
    ===============================
*/
.editor-post-title__block .editor-post-title__input {
	font-family: 'Oxygen', sans-serif;
}

/*
    ===============================
    Typography
    ===============================
*/
h2, h3, h4 {
	font-family: 'Oxygen', sans-serif;
}

.editor-styles-wrapper {
	font-family: 'Oxygen', sans-serif;
}

/* <p> styles
================================================== */
.wp-block-paragraph,
.editor-styles-wrapper .has-normal-font-size {
	font-size: 16px;
}

.editor-styles-wrapper .has-small-font-size {
	font-size: 14px;
}

/* Alignment
================================================== */
.components-dropdown-menu__menu[aria-label="Align"] .components-dropdown-menu__menu-item:nth-child(2) {
	display: none;
}

/*
    ===============================
    Blocks
    ===============================
*/
/*
 * For individual block styling please refer to the block-library SCSS file:
 * https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/editor.scss
 */
/* Heading Block
================================================== */
.components-toolbar-button[aria-label="Heading 1"],
.components-toolbar-button[aria-label="Heading 5"],
.components-toolbar-button[aria-label="Heading 6"] {
	display: none;
}

/*# sourceMappingURL=gutenberg-style.css.map */