$black            : #2C2C2C;
$white            : #FFFFFF;
$cyan             : #4093C3;
$green            : #4DB26D;
$blue             : #061854;
$red              : #921601;
$yellow           : #ebc546;
$grey             : #3B4857;
$light-grey       : #EBEDEE;
$transition-speed : 300ms;
