/*
 * Example @font-face done nicely:

@font-face {
  font-family : "Founders Grotesk";
  src         : url("../fonts/FoundersGroteskWeb-Regular.woff2") format("woff2"),
  url("../fonts/FoundersGroteskWeb-Regular.woff") format("woff");
  font-display: swap;
  font-style  : normal;
  font-weight : 400;
}

@font-face {
  font-family : "Founders Grotesk";
  src         : url("../fonts/FoundersGroteskWeb-RegularItalic.woff2") format("woff2"),
  url("../fonts/FoundersGroteskWeb-RegularItalic.woff") format("woff");
  font-display: swap;
  font-style  : italic;
  font-weight : 400;
}

@font-face {
  font-family : "Founders Grotesk";
  src         : url("../fonts/FoundersGroteskWeb-Medium.woff2") format("woff2"),
  url("../fonts/FoundersGroteskWeb-Medium.woff") format("woff");
  font-display: swap;
  font-style  : normal;
  font-weight : 700;
}

@font-face {
  font-family : "Heldane";
  src         : url("../fonts/heldane-text-web-regular.woff2") format("woff2"),
  url("../fonts/heldane-text-web-regular.woff") format("woff");
  font-display: swap;
  font-style  : normal;
  font-weight : 400;
}
*/
