// The space between columns and the space padding the edges of the browser.
$gutter                  : 21px;
$gutter--mobile          : 16px;

// The maximum width the site will go before the container kicks in.
$max-width               : 1200px;

// Breakpoints that are used by include-media.scss
$breakpoints             : (phone: 320px, large-phone: 550px, tablet: 768px, desktop: 1024px, large-desktop: 1200px);

// Gutenberg width settings.


/* Gutenberg
================================================== */
// Generally content will be this width:
// SBTODO: edit theme.json and set the layout:contentSize to this value.
$default_gutenberg_width : 600px;

// Content in "Wide" mode will be this width:
// SBTODO: edit theme.json and set the layout:wideSize to this value.
$max_gutenberg_width     : $max-width;

// Content in "Full" mode will be 100%
