/*
    ===============================
    VARIABLES
    ===============================
*/
@import "settings/colours";
@import "settings/fonts";
@import "settings/grid-settings";
@import "settings/spacing";

/*
    ===============================
    MIXINS
    ===============================
*/
@import "tools/include-media/include-media";
@import "tools/mixins";
@import "tools/text-styles";

/*
    ===============================
    OBJECTS
    ===============================
*/
@import "objects/button";

/*
    ===============================
    COMPONENTS
    ===============================
*/

// Core block modifications
@import "components/blocks/wp-block-embed";
@import "components/blocks/wp-block-image";

// ACF components
@import "components/call-to-action";

/*
    ===============================
    Content Width
    ===============================
*/
.wp-block {
  max-width : 800px;
}

.wp-block[data-align=wide] {
  /* it can be "data-align=full" and also "right", "left" and "center" */
  max-width : 1228px;
}

/*
    ===============================
    Post Title
    ===============================
*/
.editor-post-title__block .editor-post-title__input {
  @include sans;
}

/*
    ===============================
    Typography
    ===============================
*/
h2, h3, h4 {
  @include sans;
}

.editor-styles-wrapper {
  @include sans;
}

/* <p> styles
================================================== */
// Default <p>
.wp-block-paragraph,
.editor-styles-wrapper .has-normal-font-size {
  font-size : 16px;
}

// Small <p>
.editor-styles-wrapper .has-small-font-size {
  font-size : 14px;
}

// .editor-styles-wrapper .has-medium-font-size {
//   font-size: 20px;
// }
//
// .editor-styles-wrapper .has-large-font-size {
//   font-size: 36px;
// }
//
// .editor-styles-wrapper .has-huge-font-size {
//   font-size: 42px;
// }

/* Alignment
================================================== */
// Don't allow Centre alignment
// - There isn't an official way to do this: https://github.com/WordPress/gutenberg/issues/24616
.components-dropdown-menu__menu[aria-label="Align"] .components-dropdown-menu__menu-item:nth-child(2) {
  display : none;
}

/*
    ===============================
    Blocks
    ===============================
*/
/*
 * For individual block styling please refer to the block-library SCSS file:
 * https://github.com/WordPress/gutenberg/blob/trunk/packages/block-library/src/editor.scss
 */

/* Heading Block
================================================== */
// Disable H1, Hn buttons
// - There isn't an official way to do this: https://github.com/WordPress/gutenberg/issues/15160
.components-toolbar-button[aria-label="Heading 1"],
.components-toolbar-button[aria-label="Heading 5"],
.components-toolbar-button[aria-label="Heading 6"] {
  display : none;
}
