.wp-block-image {
  margin-left  : auto;
  margin-right : auto;
  max-width    : $max-width;

  figcaption {
    text-align : left;
  }

  .aligncenter,
  .alignleft,
  .alignright {
    margin-bottom : .5em;
  }
}
