.wp-block-query {
  // The post item
  .wp-block-post-template li {
    background-color : #E9E9E9;
    // border     : 1px solid red;
    box-sizing       : border-box;
    padding          : var(--space-s);

    // Meta
    div {
      margin-top : var(--space-m);
    }
  }
}
