body {
  box-sizing               : border-box;
  font-size                : 16px;
  -webkit-font-smoothing   : antialiased;
  -moz-osx-font-smoothing  : grayscale;
  -webkit-text-size-adjust : none;
  word-break               : break-word;
}

main {
  background-color : $white;
}

h1 {
  font-size : 32px
}

h2 {
  font-size : 26px;
}

h3 {
  font-size : 22px;
}

h4 {
  font-size : 18px;
}

h5, h6 {
  font-size : 16px;
}

p {
  font-size : 16px;
}

a {
  color           : inherit;
  text-decoration : none;
}

a,
p a,
ol li a,
ul li a {
  cursor          : pointer;
  text-decoration : none;

  &:hover, &:focus {
	color           : $green;
	outline         : 0;
	text-decoration : none;
  }
}

b, strong, body.webkit strong, body.webkit b {
  font-weight : 700;
}

i, em {
  font-style : italic;
}

// Force font on form elements
button, input, textarea, select {
  @include sans;
}

input[type="text"],
input[type="email"],
input[type="search"] {
  border         : 0;
  box-sizing     : border-box;
  display        : inline-block;
  outline        : 0;
  vertical-align : top;

  @include media('<tablet') {
	font-size : 14px;
  }
}

/* ===== Scrollbar CSS ===== */
.js-scroll-height,
.js-scroll-width,
.js-filters__list,
.c-image-slider__slider-inner,
.c-especialistas__slider-cards-wrapper {
  /* Firefox */
  scrollbar-color : $blue #fff0;
  scrollbar-width : auto;

  /* Chrome, Edge, and Safari */
  &::-webkit-scrollbar {
	width : 13px;
  }

  &::-webkit-scrollbar-track {
	background : #fff0;
  }

  &::-webkit-scrollbar-thumb {
	background-color : $blue;
	border           : 3px solid #ffffff;
	border-radius    : 10px;
  }
}

.js-filters__list {
  &::-webkit-scrollbar-thumb {
	background-color : $blue;
	border           : 3px solid #EBEDEE;
	border-radius    : 10px;
  }
}
