@mixin editor-base {
  /* Headings
  ================================================== */
  h1, h2, h3, h4, h5, h6, p, ol, ul, a {
	box-sizing : border-box;
	color      : $blue;
  }
  
  h1 {
	@include ts-heading-1;
  }
  
  h2 {
	@include ts-heading-2;
	margin-top    : var(--space-2xl);
	margin-bottom : var(--space-xl);
  }
  
  h3 {
	@include ts-heading-3;
	margin-top    : var(--space-xl);
	margin-bottom : var(--space-l);
  }
  
  h4, h5, h6 {
	@include ts-heading-3;
	margin-top    : var(--space-l);
	margin-bottom : var(--space-m);
  }
  
  /* Paragraphs / Text
  ================================================== */
  p {
	@include ts-body();
  }
  
  h1 + p,
  h2 + p,
  h3 + p,
  h4 + p,
  h5 + p,
  h6 + p,
  p + p {
	margin-top : var(--space-m);
  }
  
  strong {
	font-weight : 700;
  }
  
  em {
	font-style : italic;
  }
  
  /* Blockquote
  ================================================== */
  blockquote {
	border-left  : 6px solid red;
	box-sizing   : border-box;
	padding-left : var(--space-xl);
	margin       : var(--space-2xl) 0 var(--space-2xl) var(--space-l);
	
	p {
	  font-style    : italic;
	  margin-bottom : 0;
	}
	
	cite,
	footer {
	  display    : block;
	  margin-top : var(--space-m);
	}
  }
  
  .wp-block-pullquote {
	border-bottom : 6px solid red;
	border-top    : 6px solid red;
	
	blockquote {
	  border-left  : none;
	  padding-left : 0;
	}
  }
  
  /* Lists
  ================================================== */
  // Some blocks use <ol> or <ul>, we don't want to style those like traditional lists!
  ol:not([class*="wp-block-"]) {
	list-style : decimal;
	
	ul {
	  list-style : disc;
	}
	
	ol {
	  list-style : lower-latin;
	}
  }
  
  ul:not([class*="wp-block-"]) {
	list-style : disc;
	
	ul {
	  list-style : circle;
	}
	
	ol {
	  list-style : decimal;
	}
  }
  
  ol:not([class*="wp-block-"]),
  ul:not([class*="wp-block-"]) {
	@include ts-body;
	margin-top   : var(--space-xl);
	padding-left : 30px;
	
	&.aligncenter {
	  list-style-position : inside;
	  padding             : 0;
	  text-align          : center;
	}
	
	&.alignright {
	  list-style-position : inside;
	  padding             : 0;
	  text-align          : right;
	}
	
	ol,
	ul {
	  margin-top : 0;
	}
	
	li {
	  margin-bottom : var(--space-xxs);
	  padding-left  : var(--space-xxs);
	}
  }
  
  /* Tables
  ================================================== */
  table {
	@include ts-body;
	border-collapse : collapse;
	border-spacing  : 0;
	margin-bottom   : var(--space-xl);
	width           : 100%;
	
	td, th {
	  border     : 1px solid $black;
	  box-sizing : border-box;
	  padding    : var(--space-xxs) var(--space-xs);
	}
	
	th {
	  font-weight : 600;
	}
	
	td {
	  text-align : center;
	}
	
	/* Cells in even rows (2,4,6...) are one color */
	tr:nth-child(even) td {
	  background-color : #EFEFEF;
	}
  }
  
  /* Miscellaneous
  ================================================== */
  address {
	@include ts-body;
	font-style    : italic;
	margin-bottom : var(--space-m);
  }
  
  big {
	font-size   : 22px;
	line-height : 32px;
  }
  
  small {
	font-size   : 14px;
	line-height : 22px;
  }
  
  cite {
	font-style  : normal;
	font-weight : 700;
  }
  
  q {
	font-style : italic;
  }
  
  /* Code
  ================================================== */
  code,
  pre,
  var {
	font-family : Consolas, monospace;
	font-size   : 12px;
  }
  
  code {
	padding     : 2px 4px;
	white-space : nowrap;
  }
  
  pre {
	display     : block;
	line-height : 18px;
	margin      : 0 0 10px;
	padding     : 9.5px;
	white-space : pre-wrap;
	word-break  : break-all;
	word-wrap   : break-word;
  }
  
  pre code {
	background-color : transparent;
	border           : 0;
	color            : inherit;
	padding          : 0;
	white-space      : pre-wrap;
  }
}
