/* #General body
================================================== */
@mixin ts-body($small : false) {
  @include sans;
  font-size   : 15px;
  line-height : 21px;
  font-weight : 400;
  color       : $black;

  a {
	border-bottom : 1px solid currentColor;
	font-size     : inherit;
	word-wrap     : break-word;
  }

  @if ($small) {
	font-size   : 15px;
	line-height : 1.4;
  }
  @include media("<desktop") {
	font-size   : 12px;
	line-height : 1.33;
  }
}

/* #Headings
================================================== */
@mixin ts-heading-1 {
  @include sans;
  font-size      : 54px;
  line-height    : 1.3;
  font-weight    : 700;
  letter-spacing : -1px;

  @include media("<desktop") {
	font-size   : 52px;
	line-height : 64px;
  }

  @include media("<tablet") {
	font-size      : 40px;
	line-height    : 48px;
	letter-spacing : -0.8px;
  }
}

@mixin ts-heading-2 {
  @include sans;
  font-size      : 48px;
  line-height    : 1.3;
  font-weight    : 700;
  letter-spacing : -0.75px;

  @include media("<tablet") {
	font-size      : 32px;
	line-height    : 40px;
	letter-spacing : -0.4px;
  }
}

@mixin ts-heading-3 {
  @include sans;
  font-size      : 36px;
  line-height    : 1.2;
  font-weight    : 700;
  letter-spacing : -0.5px;

  @include media("<tablet") {
	font-size   : 20px;
	line-height : 1.4;
  }
}

@mixin ts-heading-4 {
  @include sans;
  font-size      : 21px;
  line-height    : 1.4;
  font-weight    : 700;
  letter-spacing : -0.5px;

  @include media("<tablet") {
	font-size      : 20px;
	line-height    : 24px;
	letter-spacing : -0.4px;
  }
}

@mixin ts-heading-5 {
  @include sans;
  font-size   : 18px;
  line-height : 22px;
  font-weight : 400;

  @include media("<tablet") {
	font-size      : 16px;
	line-height    : 20px;
	letter-spacing : -0.32px;
  }
}

@mixin ts-heading-6 {
  @include sans;
  font-size   : 16px;
  line-height : 20px;
  font-weight : 400;
}


/* Ts-Hero
================================================== */
@mixin ts-hero {
  @include sans;
  font-size      : 65px;
  line-height    : 94px;
  font-weight    : 700;
  letter-spacing : -1px;

  @include media("<tablet") {
	font-size      : 54px;
	line-height    : 60px;
	font-weight    : 400;
	letter-spacing : -1px;
  }
}

/* Pull-Quote
================================================== */
@mixin ts-pullquote {
  @include sans;
  font-size   : 32px;
  line-height : 42px;
  font-weight : 400;

  @include media("<tablet") {
	font-size   : 24px;
	line-height : 30px;
  }
}

/* Description
================================================== */
@mixin ts-description($small : false) {
  @include sans;
  font-size   : 24px;
  line-height : 32px;
  font-weight : 400;

  @if ($small) {
	font-size   : 16px;
	line-height : 24px;

	@include media("<tablet") {
	  font-size   : 12px;
	  line-height : 20px;
	}

  }
}

/* Small Description
================================================== */
@mixin ts-desc {
  @include sans;
  font-size   : 21px;
  line-height : 1.4;
  font-weight : 400;

  @include media("<tablet") {
	@include sans;
	font-size   : 14px;
	line-height : 17px;
	font-weight : 400;
  }
}

@mixin ts-meta {
  @include sans;
  font-size   : 13px;
  line-height : 1.5;
  font-weight : 400;
}

/* Credit
================================================== */
@mixin ts-credit {
  @include sans;
  font-size   : 16px;
  line-height : 24px;
  font-weight : 500;
}

/* Labels
================================================== */
@mixin ts-label($small : false) {
  @include sans;
  font-size      : 14px;
  line-height    : 20px;
  text-transform : uppercase;
  letter-spacing : 2px;
  font-weight    : 500;

  @include media("<tablet") {
	letter-spacing : 1.7px;
	font-size      : 12px;
  }

  @if ($small) {
	text-transform : none;
	letter-spacing : 0;
  }
}

/* Breadcrumbs
================================================== */
@mixin ts-breadcrumbs {
  @include sans;
  font-size   : 12px;
  line-height : 16px;
  font-weight : 500;
}

/* Buttons
================================================== */
@mixin ts-button($small : false) {
  @include sans;
  font-size   : 16px;
  line-height : 26px;
  font-weight : 600;

  @if ($small) {
	font-size   : 14px;
	line-height : 20px;
	font-weight : 500;
  }
}

@mixin ts-secondary-button {
  @include sans;
  font-size   : 16px;
  line-height : 26px;
  font-weight : 500;
}
