/*
 * Try to use the default styles for the bar as much as possible... The below may come in handy though
 *
 * NOTE: The content's of this file might be out of date since OneTrust changed to CookiePro
 */
$active-color   : $black;
$inactive-color : $black;

/* Fonts
================================================== */
#optanon, #optanon *, #optanon div, #optanon span, #optanon ul, #optanon li, #optanon a, #optanon p, .optanon-alert-box-wrapper * {
  font-family : "Roboto", Arial, Helvetica, sans-serif !important;
}

/* Cookie Bar
================================================== */
.optanon-alert-box-wrapper {
  left : 0;

  /*

    // Bar text
    .optanon-alert-box-body {
      margin-right : 425px !important;

      @include media("<tablet") {
        box-sizing : border-box;
        margin     : 0 !important;
        padding    : $mobile-gutter;
        width      : 100%;
      }
    }

    .optanon-alert-box-button,
    .optanon-alert-box-button-middle {
      border      : 0 !important;
      padding     : 0 !important;
      float       : none;
      line-height : 20px;
      min-height  : 20px;

      // Coloured buttons
      .optanon-allow-all,
      .optanon-alert-box-close {
        background-color : $green-blue;
        color            : $type-black !important;
        display          : inline-block;
        padding          : var(--space-xs) var(--space-m);
        vertical-align   : middle;

        &:before {
          display : none;
        }

        &:hover, &:focus {
          background-color : $sei-green !important;
        }
      }

      // Cookie settings button
      .optanon-toggle-display {
        padding-top    : var(--space-xs);
        display        : inline-block;
        vertical-align : middle;

        &:before {
          display : none;
        }

        &:hover, &:focus {
          border-bottom : 0 !important;
        }
      }
    }

    // Button Ordering
    .optanon-alert-box-button-container {
      display         : flex;
      justify-content : flex-start;
      align-items     : stretch;
      flex-direction  : row;
      flex-wrap       : wrap;
    }

    .optanon-alert-box-button.optanon-button-allow {
      order : 1;
    }

    .optanon-alert-box-button.optanon-button-close {
      display : block !important;
      order   : 2;
    }

    .optanon-alert-box-button.optanon-button-more {
      display : block !important;
      order   : 3;
    }

    // Hide the close button
    .optanon-alert-box-corner-close {
      display : none !important;
    }
    */
}

/* Cookie Popup
================================================== */
#optanon #optanon-popup-wrapper {
  .optanon-alert-box-bg .optanon-alert-box-button-container {
    @include media("<tablet") {
      margin  : 0 !important;
      padding : 0 $mobile-gutter !important;

      &:after {
        clear   : both;
        content : "";
        display : block;
      }
    }
  }

  #optanon-menu li {
    background-position : 10px 12px !important;
  }

  .optanon-alert-box-wrapper {
    background-color : $type-black !important
  }

  #optanon-show-settings-popup {
    display : none !important;
  }

  .optanon-alert-box-button.optanon-button-more {
    margin-right : 20px !important;

    @include media("<tablet") {
      margin-left : 17px !important;
    }
  }

  /* OneTrust Logo removal (probably not advised) */
  #optanon-popup-bottom-logo {
    //display : none !important;
  }

  // Buttons
  div.optanon-white-button-middle {
    background-color : $green-blue !important;
    padding          : var(--space-xxs) var(--space-m) var(--space-xs) !important;

    a {
      color : $type-black !important;
    }

    &:hover, &:focus {
      background-color : $type-black !important;

      a {
        color : $white !important;
      }
    }
  }

  // Toggle Field Text
  .optanon-status-on {
    color : $active-color !important;
  }

  // Toggle Field
  fieldset input:checked + label {
    background-color : $active-color;
  }
}

/* Cookie Policy Styles
================================================== */
.content-from-editor {
  .optanon-show-settings-popup-wrapper {
    height        : auto;
    margin-bottom : var(--space-x);

    .optanon-show-settings-middle a.optanon-show-settings {
      display : inline;
    }
  }

  p.optanon-cookie-policy-group-name {
    @include sans;
    color       : $black;
    font-size   : 32px;
    font-weight : 700;
    line-height : 40px;
  }

  .optanon-show-settings-popup-wrapper:after,
  .optanon-show-settings-button:after,
  .optanon-show-settings-right:after {
    clear   : both;
    content : "";
    display : block;
  }

  #optanon-show-settings-popup {
    display : none !important;
  }
}
