.select2-container {
  box-sizing     : border-box;
  display        : inline-block;
  margin         : 0;
  position       : relative;
  vertical-align : middle;
  width          : auto;
}
.select2-container span:focus {
  outline : none;
}
.select2-container .select2-selection--single {
  box-sizing          : border-box;
  cursor              : pointer;
  display             : block;
  height              : 40px;
  padding             : 8px 0;
  user-select         : none;
  -webkit-user-select : none;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  display       : block;
  padding-left  : 12px;
  padding-right : 36px;
  overflow      : hidden;
  text-overflow : ellipsis;
  white-space   : nowrap;
}
.select2-container .select2-selection--single .select2-selection__clear {
  position : relative;
}
.select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
  padding-right : 8px;
  padding-left  : 20px;
}
.select2-container .select2-selection--multiple {
  box-sizing          : border-box;
  cursor              : pointer;
  display             : block;
  min-height          : 32px;
  user-select         : none;
  -webkit-user-select : none;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
  display       : inline-block;
  overflow      : hidden;
  padding-left  : 8px;
  text-overflow : ellipsis;
  white-space   : nowrap;
}
.select2-container .select2-search--inline {
  float : left;
}
.select2-container .select2-search--inline .select2-search__field {
  box-sizing : border-box;
  border     : none;
  font-size  : 100%;
  margin-top : 5px;
  padding    : 0;
}
.select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance : none;
}
.select2-dropdown {
  background-color : $grey-1;
  border           : 1px solid $grey-4;
  box-sizing       : border-box;
  display          : block;
  position         : absolute;
  left             : -100000px;
  width            : 100%;
  z-index          : 1051;
}
.select2-results {
  display : block;
}
.select2-results__options {
  list-style : none;
  margin     : 0;
  padding    : 0;
}
.select2-results__option {
  @include heading-font-family;
  color               : $text-grey;
  font-size           : 16px;
  font-weight         : 500;
  line-height         : 24px;
  padding             : 8px 12px;
  user-select         : none;
  -webkit-user-select : none;

  & + & {
    border-top : 1px solid $grey-4;
  }
}
.select2-results__option[aria-selected] {
  cursor : pointer;
}
.select2-container--open .select2-dropdown {
  left : 0;
}
.select2-container--open .select2-dropdown--above {
  //border-bottom              : none;
  border-bottom-left-radius  : 0;
  border-bottom-right-radius : 0;
}
.select2-container--open .select2-dropdown--below {
  //border-top              : none;
  border-top-left-radius  : 0;
  border-top-right-radius : 0;
}
.select2-search--dropdown {
  display : block;
  padding : 4px;
}
.select2-search--dropdown .select2-search__field {
  @include ts-body;
  box-sizing : border-box;
  padding    : 4px;
  width      : 100%;
}
.select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
  -webkit-appearance : none;
}
.select2-search--dropdown.select2-search--hide {
  display : none;
}
.select2-close-mask {
  border           : 0;
  margin           : 0;
  padding          : 0;
  display          : block;
  position         : fixed;
  left             : 0;
  top              : 0;
  min-height       : 100%;
  min-width        : 100%;
  height           : auto;
  width            : auto;
  opacity          : 0;
  z-index          : 99;
  background-color : #FFFFFF;
  filter           : alpha(opacity=0);
}
.select2-hidden-accessible {
  border   : 0 !important;
  clip     : rect(0 0 0 0) !important;
  height   : 1px !important;
  margin   : -1px !important;
  overflow : hidden !important;
  padding  : 0 !important;
  position : absolute !important;
  width    : 1px !important;
}
.select2-container--default .select2-selection--single {
  background-color : $grey-1;
  border           : 1px solid $grey-4;
  transition       : background-color $transition-speed;

  &:hover, &:focus {
    background-color : darken($grey-1, 5%);
  }
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  @include heading-font-family;
  color       : $rouge;
  font-size   : 16px;
  font-weight : 500;
  line-height : 24px;
}
.select2-container--default .select2-selection--single .select2-selection__clear {
  @include heading-font-family;
  cursor       : pointer;
  color        : $battleship-grey;
  float        : right;
  font-size    : 24px;
  font-weight  : 400;
  line-height  : 32px;
  margin-right : 0;
  margin-left  : 8px
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color : $text-grey;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  align-items      : center;
  background-color : $grey-3;
  border-left      : 1px solid $grey-4;
  display          : flex;
  height           : 38px;
  justify-content  : center;
  position         : absolute;
  right            : 1px;
  top              : 1px;
  width            : 38px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  background-image    : url('../img/arrow.svg');
  background-repeat   : no-repeat;
  background-position : center;
  background-size     : 15px 9px;
  height              : 9px;
  margin-left         : 2px;
  transition          : transform 0.3s;
  transform-origin    : 50% 50%;
  width               : 15px;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float : left;
}
.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left  : 1px;
  right : auto;
}
.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color : #EEEEEE;
  cursor           : default;
}
.select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
  display : none;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  //border-color : transparent transparent #888888 transparent;
  //border-width : 0 4px 5px 4px;

  transform : rotate(180deg);
}
.select2-container--default .select2-selection--multiple {
  background-color : $white;
  border           : 1px solid #AAAAAA;
  //border-radius    : 4px;
  cursor           : text;
  padding          : 0 4px;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered {
  box-sizing : border-box;
  list-style : none;
  margin     : 0;
  padding    : 0 5px;
  width      : 100%;
}
.select2-container--default .select2-selection--multiple .select2-selection__rendered li {
  list-style : none;
}
.select2-container--default .select2-selection--multiple .select2-selection__placeholder {
  color      : $text-grey;
  margin-top : 5px;
  float      : left;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear {
  cursor       : pointer;
  float        : right;
  font-weight  : bold;
  margin-top   : 5px;
  margin-right : 10px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
  @include heading-font-family;
  background-color : $white;
  border           : 1px solid $grey-4;
  //border-radius    : 4px;
  cursor           : default;
  color            : $text-grey;
  font-size        : 16px;
  line-height      : 24px;
  font-weight      : 700;
  float            : left;
  margin-right     : 5px;
  margin-bottom    : 7px;
  margin-top       : 9px;
  padding          : 0 5px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color       : $text-grey;
  cursor      : pointer;
  display     : inline-block;
  float       : right;
  font-weight : bold;
  font-size   : 25px;
  margin-left : 6px;
  margin-top  : -1px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color : #333333;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float : right;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left  : 5px;
  margin-right : auto;
}
.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left  : 2px;
  margin-right : auto;
}
.select2-container--default.select2-container--focus .select2-selection--multiple {
  border  : solid black 1px;
  outline : 0;
}
.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color : #EEEEEE;
  cursor           : default;
}
.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display : none;
}
.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius  : 0;
  border-top-right-radius : 0;
}
.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius  : 0;
  border-bottom-right-radius : 0;
}
.select2-container--default .select2-search--dropdown .select2-search__field {
  border : 1px solid #AAAAAA;
}
.select2-container--default .select2-search--inline .select2-search__field {
  background         : transparent;
  border             : none;
  outline            : 0;
  box-shadow         : none;
  -webkit-appearance : textfield;
}
.select2-container--default .select2-results > .select2-results__options {
  max-height : 322px;
  overflow-y : auto;
}
.select2-container--default .select2-results__option[role=group] {
  padding : 0;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
  color : #999999;
}
.select2-container--default .select2-results__option[aria-selected=true] {
  background-color : $grey-1;
  //color            : $white;
}
.select2-container--default .select2-results__option .select2-results__option {
  padding-left : 1em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__group {
  padding-left : 0;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option {
  margin-left  : -1em;
  padding-left : 2em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left  : -2em;
  padding-left : 3em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left  : -3em;
  padding-left : 4em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left  : -4em;
  padding-left : 5em;
}
.select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
  margin-left  : -5em;
  padding-left : 6em;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color : $text-grey;
  color            : $white;
  transition       : all 0.3s;
}
.select2-container--default .select2-results__group {
  cursor  : default;
  display : block;
  padding : 6px;
}
