.c-call-to-action {
  $class     : &;
  box-sizing : border-box;
  
  &__container {
	position : relative;
  }
  
  &--standard {
	color : $black;
  }
  
  &--destacado {
	color : $white;
	
	#{$class}__container {
	  padding-left  : 0;
	  padding-right : 0;
	}
  }
  
  &__inner {
	align-items     : center;
	border-radius   : var(--border-radius);
	display         : flex;
	justify-content : space-between;
	
	@include media('<tablet') {
	  flex-direction : column;
	  padding        : var(--space-l) var(--space-s);
	}
	
	#{$class}--destacado & {
	  background-color : $blue;
	  margin           : 0 16px;
	  padding          : var(--space-2xl) var(--left-margin);
	  
	  @include media('<tablet') {
		border-radius : 0;
		margin        : 0;
		padding       : var(--space-xl) var(--space-m);
	  }
	}
	
	#{$class}--standard & {
	  background-color : #F9F9F9;
	  box-shadow       : 0 7px 3px 1px rgb(0 0 0 / .1);
	  margin           : 0 calc(var(--left-margin) * 2) 0 var(--left-margin);
	  padding          : var(--space-xl) 104px;
	  
	  @include media('<tablet') {
		margin  : 0;
		padding : var(--space-l) var(--space-s);
	  }
	}
	
	#{$class}--standard:nth-child(odd) & {
	  flex-direction : row-reverse;
	  margin         : 0 var(--space-2xl) 0 calc(var(--left-margin) * 2);
	  
	  @include media('<tablet') {
		flex-direction : column;
		margin         : 0;
		padding        : var(--space-l) var(--space-s);
	  }
	}
  }
  
  &__content {
	width : 70%;
	
	@include media('<tablet') {
	  margin-bottom : var(--space-m);
	  width         : 100%;
	}
  }
  
  &__right {
	text-align : right;
	width      : 30%;
	
	@include media('<tablet') {
	  text-align : left;
	  width      : 100%;
	}
  }
  
  &__title {
	@include ts-heading-3;
	font-weight   : 700;
	margin-bottom : var(--space-l);
	
	#{$class}--standard & {
	  color     : $blue;
	  font-size : 48px;
	  
	  @include media('<tablet') {
		font-size     : 20px;
		margin-bottom : var(--space-m);
	  }
	}
	
	#{$class}--destacado & {
	  margin-bottom : var(--space-m);
	}
  }
  
  &__description, &__description p {
	@include ts-body;
	color       : $white;
	font-weight : 500;
	
	#{$class}--standard & {
	  color     : $black;
	  font-size : 18px;
	  
	  @include media('<tablet') {
		font-size     : 12px;
		margin-bottom : var(--space-l);
	  }
	}
  }
  
  &__button {
	@include o-button;
	background      : $white;
	color           : $blue;
	font-size       : 14px;
	justify-content : flex-end;
	margin-top      : 0px !important;
	padding         : var(--space-s) var(--space-2xl);
	
	#{$class}--standard & {
	  background      : $blue;
	  color           : $white;
	  justify-content : center;
	  min-width       : 256px;
	  position        : absolute;
	  right           : var(--left-margin);
	  top             : calc(50% - 25px);
	  
	  
	  @include media('<tablet') {
		display  : inline-block;
		left     : 0;
		position : relative;
	  }
	}
	
	#{$class}--standard:nth-child(odd) & {
	  left  : var(--left-margin);
	  right : auto;
	  
	  @include media('<tablet') {
		left     : 0;
		position : relative;
	  }
	}
  }
}

.c-home-banner + .c-call-to-action {
  margin-bottom : -160px;
  position      : relative;
  top           : -160px;
  
  @include media('<tablet') {
	margin-bottom : 0;
	padding-top   : 0;
	top           : 0;
  }
}