.c-card-block {
  $class      : &;

  background  : $white;
  padding-top : var(--space-3xl);

  &--background {
	background  : #EBEBEB;
	padding-top : var(--space-3xl);
  }

  &__container {
	@include o-container;
	position : relative;
  }

  &__heading-wrapper {
	grid-column : 1/-1;
	@include grid;

	@include media('<tablet') {
	  display        : flex;
	  flex-direction : column;
	}
  }

  &__title {
	@include ts-heading-2;
	color         : $blue;
	grid-column   : 1/7;
	margin-bottom : var(--space-xl);

	@include media('<tablet') {
	  @include ts-heading-3;
	  margin-bottom : var(--space-m);
	}
  }

  &__sub-title {
	@include ts-desc;
	color         : $black;
	grid-column   : 1/7;
	margin-bottom : 60px;

	@include media('<tablet') {
	  margin-bottom : var(--space-l) !important;
	  margin-right  : 100px;
	}
  }

  &__button-wrapper {
	grid-column   : 9/-1;
	margin-bottom : var(--space-l);
  }

  &__cards-wrapper {
	align-items           : start;
	display               : grid;
	grid-column           : 1/-1;
	grid-column-gap       : $gutter;
	grid-row-gap          : $gutter;
	grid-template-columns : repeat(6, 1fr);


	@include media('<tablet') {
	  display        : flex;
	  flex-direction : column;
	  grid-row-gap   : 0;
	  overflow       : hidden;
	}
  }

  &__cards-wrapper--x1 {
	grid-template-columns : repeat(3, 1fr);

	@include media('<tablet') {
	  grid-template-columns : repeat(1, 1fr);
	}
  }

  &__cards-wrapper--x2-scroll {
	grid-template-columns : repeat(6, 1fr);
	position              : relative;
  }

  &__cards-wrapper--x3 {
	width : 100%;

	.c-card--x3 {
	  width : 100%;
	}
  }

  &__cards-wrapper--x6-bottom-container {
	column-gap : 21px;
	display    : flex;

	&::-webkit-scrollbar {
	  display : none;
	}

	@include media('<tablet') {
	  display : inline-flex;
	}
  }

  &__cards-wrapper--scroll-x {
	grid-column : 1/-1;

	.c-card--x3 {
	  cursor         : pointer;
	  display        : flex;
	  flex           : 0 0 27%;
	  flex-direction : column;
	  flex-grow      : 1;

	  @include media('<tablet') {
		flex : 0 0 35%;
	  }
	}
  }

  &__cards-wrapper--x4-left {
	column-gap            : $gutter;
	display               : flex;
	grid-column           : 1/5;
	grid-template-columns : repeat(2, 1fr);
	position              : sticky;

	> * {
	  flex : 1;
	}

	@include media('<tablet') {
	  display               : grid;
	  grid-template-columns : repeat(1, 1fr);
	  padding-left          : 0px;
	}
  }

  &__cards-wrapper--x4-right {
	grid-column : 5 / -1;
  }

  &__cards-wrapper--x3-left {
	grid-column : 1 / 4;
  }

  &__cards-wrapper--x2-right {
	grid-column : 5/-1;
	overflow-y  : scroll;

	@include media('<tablet') {
	  height     : auto !important;
	  overflow-y : hidden;
	}
  }

  &__cards-wrapper--x2-right-container {
	@include media('<tablet') {
	  display               : grid;
	  grid-template-columns : repeat(1, 1fr);
	}
  }

  &__cards-wrapper--x3-right {
	grid-column : 5 / -1;
  }

  &__cards-wrapper--x6-bottom {
	grid-column : 1 / -1;
	overflow-x  : auto;
	position    : relative;
	white-space : nowrap;

	@include media('<tablet') {
	  overflow-x : scroll;
	  width      : 100%;
	}
  }


  &--one,
  &--two,
  &--four {
	#{$class}__container {
	  @include grid;

	  @include media('<tablet') {
		display        : flex;
		flex-direction : column;
	  }
	}
  }

  &--one {
	#{$class}__heading-wrapper {
	  #{$class}__title {
		@include ts-heading-2;
		color         : $blue;
		grid-column   : 2/9;
		margin-bottom : var(--space-xl);

		@include media('<tablet') {
		  @include ts-heading-3;
		  margin-bottom : var(--space-m);
		}
	  }

	  #{$class}__sub-title {
		@include ts-desc;
		color         : $black;
		grid-column   : 2/9;
		margin-bottom : 60px;

		@include media('<tablet') {
		  margin-right : 100px;
		}
	  }
	}


	#{$class}__cards-wrapper--x4-left {
	  margin-top : 81px;

	  @include media('<tablet') {
		margin-top : 0;
	  }
	}
  }

  &--two {
	#{$class}__heading-wrapper {
	  grid-column   : 1/9;
	  margin-bottom : var(--space-2xl);
	  padding-left  : var(--space-2xl);

	  @include media('<tablet') {
		padding-left : 0;
	  }
	}

	#{$class}__title {
	  grid-column : 1/-1;
	}

	#{$class}__button-wrapper {
	  grid-column : 1/7;
	  text-align  : left;
	  z-index     : 2;
	}

	#{$class}__sub-title {
	  grid-column   : 1/9;
	  margin-bottom : 32px;
	}

	#{$class}__cards-wrapper {
	  position : relative;
	}

	#{$class}__cards-wrapper--x2-right {
	  margin-bottom : -96px;
	  position      : relative;
	  top           : -96px;

	  @include media('<tablet') {
		height        : auto;
		margin-bottom : 0;
		top           : 0;
	  }
	}
  }

  &--three {
	margin-top : var(--space-3xl);

	&#{$class}--background {
	  margin-top  : 0;
	  padding-top : calc(var(--space-3xl) * 2);
	}

	#{$class}__heading-wrapper {
	  float      : left;
	  left       : 132px;
	  min-height : 220px;
	  position   : relative;
	  width      : calc(50% - 100px);

	  @include media('<tablet') {
		left          : 0;
		margin-bottom : var(--space-xl);
		min-height    : auto;
		padding-top   : 0;
		position      : relative;
		right         : 0;
		width         : 100%;
	  }

	  > * {
		grid-column : 1/-1;
	  }

	  #{$class}__sub-title {
		margin-left : 100px;

		@include media('<tablet') {
		  margin-left  : 0px;
		  margin-right : 100px;
		}
	  }

	  #{$class}__button-wrapper {
		grid-column : 1/-1;
		margin-left : 100px;
		text-align  : left;

		@include media('<tablet') {
		  margin-left : 0px;
		}
	  }
	}

	#{$class}__cards-wrapper--x3-right {
	  float        : right;
	  margin-left  : -100px;
	  margin-right : 100px;
	  margin-top   : -280px;
	  width        : 100%;

	  @include media('<tablet') {
		margin : 0;
	  }
	}

	#{$class}__cards-wrapper--x6-bottom {
	}
  }

  &--four {
	#{$class}__button-wrapper {
	  grid-column : 1/7;
	  text-align  : left;
	  z-index     : 2;
	}

	#{$class}__heading-wrapper {
	  margin-left : 52px;

	  @include media('<tablet') {
		margin : 0;
	  }
	}

	#{$class}__sub-title {
	  margin-bottom : 32px;

	  @include media('<tablet') {
		margin-right : 100px;
	  }
	}

	#{$class}__cards-wrapper {
	  margin-bottom : -32px;
	  position      : relative;
	  top           : -32px;

	  @include media('<tablet') {
		margin-bottom : 0;
		top           : 0;
	  }
	}

	#{$class}__cards-wrapper--x3-left {
	  @include grid;
	  column-gap            : $gutter;
	  grid-column           : 1 / 5;
	  grid-template-columns : repeat(2, 1fr);
	  padding-top           : 96px;
	  position              : sticky;

	  @include media('<tablet') {
		grid-template-columns : repeat(1, 1fr);
		padding-top           : 32px;
		position              : relative;

	  }
	}

	#{$class}__cards-wrapper--x3-right {
	  overflow-y : scroll;

	  @include media('<tablet') {
		height     : auto !important;
		overflow-y : hidden;
	  }
	}
  }


}
