.c-card {
  $class           : &;
  background-color : #F9F9F9;
  border-radius    : var(--border-radius);
  box-shadow       : 0px 5px 8px -3px rgba(0, 0, 0, 0.3);
  display          : block;
  margin-bottom    : $gutter;
  overflow         : hidden;
  transition       : all .3s;


  &:hover #{$class}__arrow {
	right : 15px;
  }

  &__image-container {
	height   : 255px;
	overflow : hidden;
	position : relative;
	width    : 100%;

	@include media("<tablet") {
	  height : 200px;

	  .c-listing-block__items & {
		height : 80px;
	  }
	}
  }

  &__image {
	height          : 100%;
	left            : 0;
	object-fit      : cover;
	object-position : center;
	position        : absolute;
	top             : 0;
	transition      : all $transition-speed;
	width           : 100%;
  }

  &__image-hover {
	align-items     : center;
	display         : flex;
	height          : 100%;
	justify-content : center;
	opacity         : 0.8;
	position        : absolute;
	transition      : opacity $transition-speed;
	width           : 100%;
	z-index         : 2;

	&:hover {
	  opacity : 1;
	}

	svg {
	  fill   : $white;
	  filter : drop-shadow(2px 3px 0px rgba(0, 0, 0, 0.4));
	  width  : 80px;
	}
  }

  &__placeholder {
	color    : $blue;
	height   : 255px;
	overflow : hidden;
	position : relative;

	@include media("<tablet") {
	  height : 200px;
	}
  }

  &__title {
	@include ts-heading-4;
	color         : $blue;
	float         : left;
	margin-bottom : 15px;
	margin-right  : 45px;
	margin-top    : 10px;
	transition    : all $transition-speed;
	width         : calc(100% - 45px);

	#{$class}--x2 & {
	  font-size   : 28px;
	  line-height : 1.4;
	}

	#{$class}:hover &,
	#{$class}:focus & {
	  color : $red;
	}

	@include media('<tablet') {
	  margin-right : 25px;
	  width        : calc(100% - 25px);
	}

	@include media('<tablet') {
	  font-size   : 14px;
	  line-height : 1.3;
	}
  }

  &__content {
	padding : 0 20px 20px;
  }

  &__tax {
	margin-bottom : 10px;

	@include media('<tablet') {
	  display : none;
	}

	&--evento {
	  float   : left;
	  padding : 15px 50px 15px 15px;
	}

	&-separador {
	  @include ts-meta;
	  border-radius  : var(--border-radius);
	  color          : $green;
	  display        : inline-block;
	  font-size      : 12px;
	  font-weight    : 700;
	  line-height    : 1.4;
	  margin         : var(--space-xxs) 10px 0 0;
	  padding        : 0;
	  text-transform : uppercase;

	  @include media('<tablet') {
		font-size   : 10px;
		line-height : 1.2;
	  }

	  &::after {
		border-right : solid 1px $blue;
		content      : '';
		height       : 100%;
		margin-left  : 10px;
		width        : 1px;
	  }

	  &:last-child:after {
		border-right : 0;
	  }
	}
  }

  &__meta {
	@include ts-meta;
	color        : $blue;
	margin-right : 45px;
	margin-top   : 25px;

	@include media('<tablet') {
	  font-size    : 11px;
	  line-height  : 1.4;
	  margin-right : 20px;
	}

	&--single {
	  font-size : 14px;
	}
  }

  &__meta--evento {
	@include ts-meta;
	background    : #4093C3;
	border-radius : 0 0 4px 4px;
	color         : $white;
	float         : left;
	font-size     : 10px;
	left          : 20px;
	padding       : 10px;
	text-align    : center;
	top           : 0;

	&-dia,
	&-mes {
	  display : block;
	}
  }

  &__desc {
	@include sans;
	color         : $black;
	float         : left;
	font-size     : 14px;
	line-height   : 1.5;
	margin-bottom : var(--space-xl);
	width         : 80%;

	@include media('<tablet') {
	  font-size     : 12px;
	  line-height   : 1.4;
	  margin-bottom : var(--space-m);
	  width         : 100%;
	}
  }

  &--x3 {
	width : calc(33% - 32px);
  }

  &__content {
	position    : relative;
	white-space : normal;
  }

  &--y-scroll {
	margin-right : 8px;

	@include media('<tablet') {
	  margin-right : 0px;
	}
  }

  &__arrow {
	align-items     : center;
	border          : solid 1px $blue;
	border-radius   : 50%;
	display         : flex;
	height          : 36px;
	justify-content : center;
	position        : absolute;
	right           : 18px;
	top             : 18px;
	transition      : all $transition-speed ease;
	width           : 36px;
	z-index         : 2;

	@include media('<tablet') {
	  height : 15px;
	  width  : 15px;
	}
  }

  &--especialista {
	display         : inline-flex;
	flex-direction  : column;
	height          : auto;
	justify-content : flex-start;
	margin-right    : $gutter;
	min-height      : 300px;
	position        : relative;
	width           : 320px;

	@include media('<tablet') {
	  min-height : 240px;
	  width      : 280px;
	}

	&:last-of-type {
	  margin-right : 0;
	}

	&:hover #{$class}__arrow {
	  right : 15px;
	}

	&__placeholder {
	  #{$class}--especialista__content {
		padding-top : 230px;

		@include media('<tablet') {
		  padding-top : 185px;
		}
	  }
	}

	&__title {
	  @include ts-heading-4;
	  color         : $blue;
	  margin-bottom : 10px;
	  margin-right  : 45px;
	  margin-top    : 15px;

	  @include media('<tablet') {
		margin-right : 0;
	  }

	  @include media('<tablet') {
		font-size   : 14px;
		line-height : 1.3;
	  }
	}

	&__content {
	  padding : 30px 15px;

	  @include media('<tablet') {
		padding : 15px;
	  }
	}

	&__description {
	  @include sans;
	  color       : $black;
	  font-size   : 14px;
	  line-height : 1.5;

	  @include media('<tablet') {
		font-size   : 12px;
		line-height : 1.4;
	  }
	}

	&__image-container {
	  height   : 255px;
	  overflow : hidden;
	  position : relative;
	  width    : 100%;

	  @include media("<tablet") {
		height : 200px;
	  }
	}

	&__image {
	  height          : 100%;
	  left            : 0;
	  object-fit      : cover;
	  object-position : center;
	  position        : absolute;
	  top             : 0;
	  transition      : all $transition-speed;
	  width           : 100%;
	}
  }

  &__arrow-image {
	width : 12px;

	@include media("<tablet") {
	  width : 7px;
	}
  }

}
