/**
 * SBTODO: Needs converting to CSS Grid
 */
.c-comments {
  $class : &;

  /* Comment Form
  ================================================== */
  &__form {
    @media print {
      * {
        display : none;
      }
    }
  }

  &__title {
    color         : $black;
    margin-bottom : var(--space-l);

    @media print {
      display : block !important;
    }

    &--blank {
      @include media("<tablet") {
        display : none;
      }

      @media print {
        display : none !important;
      }
    }
  }

  &__label {
    font-weight : 700;
    display     : block;

    @include media("<tablet") {
      margin-bottom : 2px;
    }

    &--name {
      margin-top : 8px;

      @include media("<tablet") {
        margin-top : 18px;
      }
    }
  }

  &__text-input {
    @include ts-body;
    box-sizing : border-box;
    outline    : 0;
    padding    : 0;
    min-height : 20px;
    max-width  : 100%;
    width      : 100%;
  }

  &__submit {
    margin-top : var(--space-xl);

    @include media("<tablet") {
      margin-top : var(--space-m);
    }
  }

  /* Comment Output
  ================================================== */
  &__list {
    @media print {
      width : 100%;
    }

    .children {
      padding-left : var(--space-x);
      margin-top   : 22px;
    }
  }

  /* Individual Comment
  ================================================== */
  &__comment {
    .comment-respond + &,
    & + & {
      margin-top : 26px;
    }
  }

  &__name {
    margin-bottom : 8px;
  }

  &__meta {
    margin-bottom : 8px;
  }

  &__edit-link {
    color           : red;
    font-weight     : 700;
    text-decoration : underline;

    &:hover, &:focus {
      color : red;
    }
  }

  &__comment-text {
    p {
      @include ts-body;
      margin-bottom : var(--space-l);
    }
  }

  &__reply {
    // Need to login link
    .comment-reply-login {
      font-weight     : 700;
      color           : red;
      text-decoration : underline;

      &:hover, &:focus {
        color : red;
      }
    }

    // Reply link
    .comment-reply-link {
      font-weight     : 700;
      color           : red;
      text-decoration : underline;

      &:hover, &:focus {
        color : red;
      }
    }
  }

  &__no-comments {
    color : red;
  }

  /* Links
  ================================================== */
  #cancel-comment-reply-link {
    @include o-button;
    margin-top    : var(--space-xl);
    margin-bottom : var(--space-l);
  }

  .logged-in-as a + a {
    color           : red;
    text-decoration : underline;

    &:hover, &:focus {
      color : red;
    }
  }

  /* Inline Comment Reply
  ================================================== */
  &__list .comment-respond {
    position         : relative;
    background-color : red;
    padding          : 16px 20px;
    margin-top       : 20px;

    #cancel-comment-reply-link {
      bottom        : 16px;
      position      : absolute;
      right         : 20px;
      margin-bottom : 0;
    }

    #{$class}__label:first-child {
      margin-top : 0;
    }
  }
}
