.c-especialistas {
  $class : &;
  
  &__container {
	@include o-container;
  }
  
  &__slider {
	overflow    : hidden;
	position    : relative;
	white-space : nowrap;
	width       : 100%;
  }
  
  &__slider-cards-wrapper {
	overflow-x : scroll;
  }
  
  &__slides {
	display : inline-flex;
  }
  
  &__slide {
	width : 28%;
  }
  
  &__heading-wrapper {
	@include grid;
  }
  
  &__title {
	@include ts-heading-2;
	color         : $blue;
	grid-column   : 1/9;
	margin-bottom : var(--space-xl);
  }
  
  &__sub-title {
	@include ts-desc;
	color         : $black;
	grid-column   : 1/7;
	margin-bottom : 60px;
  }
  
  
  /* Layout
  ================================================== */
  &__image-wrapper {
	height   : 236px;
	position : relative;
	
	@include media("<tablet") {
	  height         : auto;
	  padding-bottom : 56.25%;
	}
  }
  
  &__image {
	@include object-fit('cover');
	border-radius : 10px 10px 0 0;
	height        : 100%;
	left          : 0;
	position      : absolute;
	top           : 0;
	width         : 100%;
  }
  
  &__overlay-left,
  &__overlay-right {
	height         : 100%;
	left           : 0;
	mix-blend-mode : multiply;
	position       : absolute;
	top            : 0;
	width          : 100%;
  }
  
  &__overlay-left {
	background-image : linear-gradient(to left, #FFFFFF80 86%, #05072F8C);
  }
  
  &__overlay-right {
	background-image : linear-gradient(to right, #FFFFFF80 86%, #05072F8C);
  }
  
  /* Nav
  ================================================== */
  &__nav {
	@include ts-body;
	margin-top : -69px;
	position   : absolute;
	top        : 50%;
	z-index    : 1;
	
	@include media("<tablet") {
	  margin-top : -28px;
	}
	
	&--prev {
	  left : 40px;
	  
	  @include media("<tablet") {
		left : 16px;
	  }
	  
	  &:hover,
	  &:focus {
		.o-svg {
		  transform : translateX(-10px);
		}
	  }
	}
	
	&--next {
	  right : 40px;
	  
	  @include media("<tablet") {
		right : 16px;
	  }
	  
	  .o-svg {
		transform : rotate(180deg);
	  }
	  
	  &:hover,
	  &:focus {
		.o-svg {
		  transform : translateX(10px) rotate(180deg);
		}
	  }
	}
	
	.o-svg {
	  display        : block;
	  pointer-events : none;
	  transition     : transform 0.3s;
	}
  }
  
  &__counter {
	@include ts-body;
	display    : none !important; // Disabled
	text-align : center;
  }
  
  /* Caption
  ================================================== */
  &__footer {
	margin-top  : 12px;
	white-space : normal;
  }
  
  &__footer-inner {
	@include ts-body;
	color : red;
	
	p {
	  display     : inline;
	  font-size   : inherit;
	  line-height : inherit;
	}
	
	a {
	  color           : red;
	  text-decoration : underline;
	  transition      : 0.2s color;
	  
	  &:hover, &:focus {
		color           : red;
		text-decoration : underline;
	  }
	}
  }
}
