.c-filters {
  $class         : &;

  display        : block;
  text-align     : left;
  vertical-align : top;
  width          : 100%;

  &__form {
  }

  &__filter {
  }

  /* Filter accordion heading
  ================================================== */
  &__filter-heading {
	@include sans;
	display       : block;
	font-size     : 18px;
	font-weight   : 700;
	margin-bottom : 30px;
	text-align    : left;
	width         : 100%;

	@include media('<tablet') {
	  margin-bottom : 12px;
	}
  }

  &__list {
	margin-bottom : 60px;
	max-height    : 250px;
	overflow-y    : scroll;
	position      : relative;

	@include media('<tablet') {
	  margin-bottom : 20px;
	}

	&--select {
	  border-radius : 5px;
	  display       : block;
	  padding       : 10px;
	  width         : 100%;

	  option {
		@include sans;
	  }
	}

	&--order {
	  border-radius : 5px;
	  display       : inline-block;
	  padding       : 10px;
	  width         : calc(50% - 10px);

	  option {
		@include sans;
	  }
	}
  }

  &__list-item {
	display       : block;
	font-size     : 14px;
	margin-bottom : 21px;
  }

  /* Filter dropdown list
  ================================================== */
  &__label {
	@include sans;
	align-items         : center;
	cursor              : pointer;
	display             : flex;
	font-size           : 14px;
	height              : 30px;
	margin-bottom       : 12px;
	padding-left        : 41px;
	position            : relative;
	-moz-user-select    : none;
	-ms-user-select     : none;
	-webkit-user-select : none;
	user-select         : none;

	input {
	  cursor   : pointer;
	  height   : 0;
	  opacity  : 0;
	  position : absolute;
	  width    : 0;

	  &:checked ~ #{$class}__checkmark {
		background-color : $green;
	  }
	}

	#{$class}__checkmark:after {
	  border            : solid white;
	  border-width      : 0 2px 2px 0;
	  height            : 12px;
	  left              : 11px;
	  top               : 6px;
	  -ms-transform     : rotate(45deg);
	  -webkit-transform : rotate(45deg);
	  transform         : rotate(45deg);
	  width             : 7px;
	}

	&:hover input ~ #{$class}__checkmark {
	  background-color : $green;
	}

	input:checked ~ #{$class}__checkmark:after {
	  display : block;
	}
  }

  /* Create a custom checkbox */
  &__checkmark {
	background-color : transparent;
	border           : solid 1px $green;
	border-radius    : 5px;
	height           : 30px;
	left             : 0;
	position         : absolute;
	top              : 0;
	width            : 30px;

	&:after {
	  content  : "";
	  display  : none;
	  position : absolute;
	}
  }

}
