.c-footer {
  @include sans;
  background-color : var(--white);
  margin-top       : var(--space-4xl);
  padding-bottom   : var(--space-xl);

  @include media('<tablet') {
	margin-top     : var(--space-xl);
	padding-bottom : var(--space-2xl);

  }

  &__inner {
	align-items     : center;
	border-top      : solid 1px $grey;
	display         : flex;
	justify-content : space-between;
	padding-top     : var(--space-2xl);

	@include media('<tablet') {
	  flex-wrap : wrap;
	  row-gap   : var(--space-m);
	}
  }

  .c-footer__logo {
	margin-left : var(--left-margin);

	@include media('<tablet') {
	  margin-left : var(--left-margin-mobile);
	  order       : 0;

	  img {
		width : 80px;
	  }
	}
  }

  &__newsletter {
	@include media('<tablet') {
	  order : 2;
	  width : 100%;
	}
  }

  &__form {
	align-content : flex-end;
	border-bottom : solid 1px $blue;
	display       : flex;

	@include media('<tablet') {
	  justify-content : space-between;
	}
  }

  &__form-submit {
	@include o-button;
	background-color : $white;
	border           : solid 1px $blue;
	border-bottom    : 0;
	border-radius    : 5px 5px 0px 0px;
	color            : $blue;
	font-size        : 10px;
	margin-left      : 20px;
	padding          : 8px;
	text-transform   : uppercase;

	@include media('<tablet') {
	  padding     : var(--space-xs) var(--space-m);
	  white-space : nowrap;
	}
  }

  &__btn {
	@include media('<tablet') {
	  order : 1;
	}
  }

  &__form-input {
	color     : $blue;
	font-size : 13px;
	width     : 210px;
  }

  &__btn-link {
	@include o-button;
	font-size      : 11px;
	padding        : var(--space-xs) var(--space-3xl);
	text-transform : uppercase;

	@include media('<tablet') {
	  padding : var(--space-xs) var(--space-3xl);
	}
  }

  &__bottom-container {
	@include media('<tablet') {
	  display         : flex;
	  justify-content : space-between;
	  padding         : 0;
	}
  }

  &__social,
  &__credit {
	color       : $blue;
	font-size   : 14px;
	padding-top : var(--space-2xl);
	text-align  : center;

	@include media('<tablet') {
	  padding-top : var(--space-l);
	}

	a {
	  color        : $blue;
	  margin-right : 50px;

	  &:last-child {
		margin-right : 0;
	  }

	  @include media('<tablet') {
		margin-right : 20px;

		img {
		  height     : auto;
		  max-height : 10px;
		  width      : 10px;
		}
	  }
	}
  }


  .mc4wp-form-fields {
	flex-direction : row;

	label {
	  line-height : 1;
	  padding     : 14px 0px;

	  input {
		border-bottom : solid 1px $blue;
		border-radius : 0 !important;
		color         : $blue;
		font-size     : 11px;
		line-height   : 16px;
		padding       : 11px 40px 11px 0px !important;

		@include media('<tablet') {
		  padding : 5px 0 !important;
		}
	  }
	}

	.c-newsletter-block__btn {
	  background    : $white;
	  border        : solid 1px $blue;
	  border-radius : 4px 4px 0 0 !important;
	  color         : $blue;
	  font-size     : 10px;
	  line-height   : 1;
	  padding       : 14px 10px;

	  @include media('<tablet') {
		padding : 8px 0;
	  }
	}
  }

  .c-newsletter-block__shortcode {
	@include media('<tablet') {
	  order : 2;
	}
  }

}
