/** @define c-header */
.c-header {
  $class      : &;

  align-items : center;
  background  : white;
  box-shadow  : 0 0px 18px 2px rgba(0, 0, 0, 0.1);
  display     : flex;
  height      : 96px;
  overflow    : hidden;
  position    : relative;
  transition  : transform $transition-speed ease;
  width       : 100%;
  z-index     : 10;

  @include media('<tablet') {
	height : 59px;
  }

  &__inner {
	align-items     : center;
	display         : flex;
	justify-content : space-between;
	padding         : var(--space-xl) 0;

	@include media('<tablet') {
	  padding : var(--space-m) 0;
	  align-items: center;
	  display: inline-flex;
	  justify-content: space-between;
	  width: 100%;
	}
  }

  &__logo img {
	@include media('<tablet') {
	  height : 18px;
	}
  }

  &__contents {
	@include media('<tablet') {
	  display : none;

	  &.is-open {
		display : block;
		position: absolute;
	  }
	}
	/*

	 */
  }

  &__menu-wrapper {
	/*
	position   : absolute;
	top        : 95px;
	transition : all $transition-speed;

	 */
  }

  &__search-wrapper {
	height      : 26px;
	margin-left : 30px;
	position    : relative;

	@include media('<tablet') {
	  display : none;
	}
  }

  &__search-button img {
	height : 16px;
  }

  &__search-controls {
	bottom   : -1px;
	cursor   : pointer;
	position : absolute;
	right    : 0;

	@include media('<tablet') {
	  position : relative;
	}

	&:hover {
	  color : $blue;
	}

	&.search-is-open {
	  opacity : 0;
	}
  }

  &__search-label {
	font-size : 0;
  }

  &__search_box {
	border        : 0;
	border-bottom : solid 1px $black;
	padding       : var(--space-xs);
	position      : absolute;
	top           : -100px;
	transition    : all $transition-speed;

	&:focus,
	&:target {
	  outline : none;
	}

	&--active {
	  top : 25px;
	}
  }


  &__menu-wrapper.active {
	position : absolute;
	top      : 100px;
  }

  /* Mobile
  ================================================== */
  &__burger {
	cursor  : pointer;
	display : block;
	height  : 18px;
	width   : 24px;
	z-index : 3;

	@include media('<tablet') {
	  height : 14px;
	  width  : 16px;
	}

	&.is-open {
	  height : 24px;
	  width  : 24px;

	  @include media('<tablet') {
		height : 14px;
		width  : 16px;
	  }

	  span:first-child {
		transform : rotate(45deg) translateY(0.5px) translateX(0.5px);
	  }

	  span:nth-child(3) {
		transform : rotate(-45deg) translateY(-0.5px) translateX(1px);
	  }

	  span:nth-child(2) {
		display : none;
	  }
	}

	span {
	  background-color : $black;
	  display          : block;
	  height           : 2px;
	  transform-origin : center;
	  transition       : all 0.2s ease;
	  width            : 100%;

	  &:nth-child(2) {
		margin : 6px 0;

		@include media('<tablet') {
		  margin : 4px 0;
		}
	  }
	}

	@include media(">1070px") {
	  display : none;
	}
  }

  .c-main-menu__container {
	@include media('<tablet') {
	  display : none;
	}

	&.is-open {
	  background : $white;
	  bottom     : 0;
	  display    : block;
	  left       : 0;
	  position   : fixed;
	  right      : 0;
	  top        : 0;
	  z-index    : 2;

	  @include media('<tablet') {
		height : 100vh;
		top: 57px;
	  }
	}
  }

  &.is-sticky {
	align-items : center;
	box-sizing  : border-box;
	display     : flex;
	height      : 96px;
	left        : 0;
	padding     : 0;
	position    : fixed;
	top         : -96px;
	transform   : translateY(-100%);
	z-index     : 10;

	@include media('<tablet') {
	  height    : 59px;
	  top       : 0px !important;
	  transform : translateY(0%);
	}
  }

  &.sticky-is-visible {
	transform : translateY(0);
  }

  &.is-open {
	height: 100vh;
	align-items: flex-start;
	padding-top: 3px;
  }

  &__search-mobile {
	cursor  : pointer;
	display : none;

	@include media('<tablet') {
	  display : block;
	  height: 21px;
	}
  }

  &__search_box--mobile {
	align-items     : center;
	background      : #FFFFFF;
	bottom          : 0;
	display         : flex;
	font-size       : 12px;
	height          : 57px;
	justify-content: space-between;
	left            : 0;
	position        : absolute;
	right           : 0;
	top             : -57px;
	transition      : all $transition-speed;
	z-index         : 10;

	&.is-open {
	  top : 1px;

	  @include media('<tablet') {
		left : 45px;
	  }
	}
  }

  &__input-wrapper {
	position : relative;
  }

  &__submit {
	cursor   : pointer;
	padding  : 1px 0 0 10px;
	position : absolute;
	right    : 16px;
	top      : 9px;

	@include media('<tablet') {
	  top: 8px;
	}
  }

  &__search__input {
	@include media('<tablet') {
	  margin-left: 16px;
	  width: 85%;
	}
  }
}
