$twitter-blue  : #1DA1F2;
$linkedin-blue : #2867B2;

.c-highlight-to-tweet {
  background     : transparent;
  display        : flex;
  flex-direction : row;
  position       : absolute;
  z-index        : 100;

  &__twitter-btn,
  &__linkedin-btn,
  &__email-btn {
    align-items     : center;
    display         : flex;
    height          : 30px;
    justify-content : center;
    position        : relative;
    transition      : background 0.3s;
    vertical-align  : top;
    width           : 30px;
  }

  &__twitter-btn {
    background-color : $twitter-blue;
    color            : $white;

    &:hover {
      background-color : darken($twitter-blue, 25%);
    }
  }

  &__linkedin-btn {
    background-color : $linkedin-blue;
    color            : $white;
    margin-left      : 4px;

    &:hover {
      background-color : darken($linkedin-blue, 25%);
    }
  }


  &__email-btn {
    background-color : $black;
    color            : $white;
    margin-left      : 4px;

    &:hover {
      background-color : darken($black, 25%);
    }
  }
}
