.c-home-banner {
  background     : rgb(64, 147, 195);
  background     : linear-gradient(90deg, rgba(64, 147, 195, 1) 0%, rgba(77, 178, 109, 1) 100%);
  color          : $white;
  padding        : var(--space-4xl) 0;
  padding-bottom : 140px;
  position       : relative;

  @include media("<tablet") {
	padding-bottom : 49px;
	padding-top    : 89px;
  }

  &__container {
	@include o-container;
  }

  &__inner {
	padding-left : var(--left-margin);
	padding-top  : var(--space-3xl);
	position     : relative;
	width        : calc(70% - 100px);
	z-index      : 1;

	@include media('<tablet') {
	  padding-left : var(--left-margin-mobile);
	  padding-top  : 0;
	  width        : 90%;
	}
  }

  &__title {
	@include ts-hero;
	font-weight   : 700;
	margin-bottom : var(--space-xl);

	@include media('<tablet') {
	  font-size   : 30px;
	  font-weight : 700;
	  line-height : 35px;
	}
  }

  &__description {
	@include sans;
	font-size      : 29px;
	font-weight    : 400;
	letter-spacing : 1px;
	line-height    : 41px;
	margin-bottom  : var(--space-xl);


	@include media('<tablet') {
	  font-size   : 18px;
	  line-height : 20px;
	}
  }
}
