.c-image-slider {
  $class      : &;
  font-size   : 0;
  line-height : 0;
  overflow    : hidden;
  position    : relative;
  white-space : nowrap;

  &__container {
	@include o-container;
	@include grid;

	@include media('<tablet') {
	  display        : flex;
	  flex-direction : column;
	}
  }

  &__heading-wrapper {
	@include grid;
	grid-column : 1/-1;

	@include media('<tablet') {
	  display        : flex;
	  flex-direction : column;
	}
  }

  &__title {
	@include ts-heading-2;
	color         : $blue;
	grid-column   : 2/9;
	margin-bottom : var(--space-xl);
	white-space   : normal;

	@include media('<tablet') {
	  font-size     : 20px;
	  line-height   : 2;
	  margin-bottom : 20px;
	}
  }

  &__sub-title,
  &__sub-title p {
	@include ts-desc;
	color         : $black;
	grid-column   : 4/9;
	margin-bottom : 60px;
	white-space   : normal;

	@include media('<tablet') {
	  margin-bottom : 0;
	}
  }

  &__button-wrapper {
	grid-column : 9/-1;
	text-align  : right;
	white-space : normal;

	@include media('<tablet') {
	  margin-top : var(--space-l);
	  order      : 1;
	  padding    : 0;
	}
  }

  &__button {
	@include media('<tablet') {
	  justify-content : center;
	  width           : 100%;
	}
  }

  &__slider {
	grid-column : 1/-1;
	overflow    : hidden;
	width       : 100%;
  }

  &__slider-inner {
	column-gap     : $gutter;
	display        : flex;
	flex-flow      : row nowrap;
	margin         : 0 auto;
	max-width      : 100%;
	overflow-x     : scroll;
	padding-bottom : 30px;
	position       : relative;

	@include media('<tablet') {
	  column-gap     : 8px;
	  margin-top     : var(--space-xl);
	  padding-bottom : 10px;
	}
  }

  &__slide {
	background    : $white;
	border-radius : 8px 8px 0 0px;
	box-shadow    : 0px -3px 2px rgba(60, 60, 60, 0.1);
	display       : block;
	flex          : 0 0 auto;
	margin-top    : 10px;
	width         : 28%;

	@include media('<tablet') {
	  width : 58%;
	}
  }


  /* Layout
  ================================================== */
  &__image-wrapper {
	align-items     : center;
	border-radius   : 8px 8px 0 0px;
	display         : flex;
	height          : 236px;
	justify-content : center;
	overflow        : hidden;
	position        : relative;

	@include media("<tablet") {
	  height : 136px;
	}
  }

  &__image {
	height     : 100%;
	left       : 50%;
	min-height : 100%;
	min-width  : 100%;
	object-fit : cover;
	position   : absolute;
	top        : 50%;
	transform  : translate(-50%, -50%);
	width      : auto;
  }

  &__overlay-left,
  &__overlay-right {
	height         : 100%;
	left           : 0;
	mix-blend-mode : multiply;
	position       : absolute;
	top            : 0;
	width          : 100%;
  }

  &__overlay-left {
	background-image : linear-gradient(to left, #FFFFFF80 86%, #05072F8C);
  }

  &__overlay-right {
	background-image : linear-gradient(to right, #FFFFFF80 86%, #05072F8C);
  }

  /* Nav
  ================================================== */
  &__nav {
	@include ts-body;
	margin-top : -69px;
	position   : absolute;
	top        : 50%;
	z-index    : 1;

	@include media("<tablet") {
	  margin-top : -28px;
	}

	&--prev {
	  left : 40px;

	  @include media("<tablet") {
		left : 16px;
	  }

	  &:hover,
	  &:focus {
		.o-svg {
		  transform : translateX(-10px);
		}
	  }
	}

	&--next {
	  right : 40px;

	  @include media("<tablet") {
		right : 16px;
	  }

	  .o-svg {
		transform : rotate(180deg);
	  }

	  &:hover,
	  &:focus {
		.o-svg {
		  transform : translateX(10px) rotate(180deg);
		}
	  }
	}

	.o-svg {
	  display        : block;
	  pointer-events : none;
	  transition     : transform 0.3s;
	}
  }

  &__counter {
	@include ts-body;
	display    : none !important; // Disabled
	text-align : center;
  }

  /* Caption
  ================================================== */
  &__footer {
	display       : block;
	margin-top    : 15px;
	padding-right : 75px;
	position      : relative;
	white-space   : normal;

	@include media('<tablet') {
	  padding-right : 42px;
	}

	.c-card__arrow {
	  top : 0;
	}
  }

  &__footer-inner {
	@include ts-heading-4;
	color       : $blue;
	font-weight : 700;
	padding     : var(--space-l);

	@include media('<tablet') {
	  font-size   : 12px;
	  font-weight : 700;
	  line-height : 1.3;
	  padding     : 0 10px 30px;
	}

	p {
	  display     : inline;
	  font-size   : inherit;
	  line-height : inherit;
	}

	a {
	  color           : red;
	  text-decoration : underline;
	  transition      : 0.2s color;

	  &:hover, &:focus {
		color           : red;
		text-decoration : underline;
	  }
	}
  }
}
