// Corresponding component can be found in assets/includes/functions-image-credits.php
.c-image-block {
  $class   : &;
  position : relative;
  overflow : hidden;

  /* Layout
  ================================================== */
  &__image-wrapper {
    position : relative;
  }

  &__image {
    width : 100%;
  }

  &__inner {
    position : relative;
  }

  &__overlay {
    height   : 100%;
    left     : 0;
    position : absolute;
    top      : 0;
    width    : 100%;
  }

  /* Footer / Caption / Credit
  ================================================== */
  &__footer {

  }

  &__footer-inner {
    p {
      display : inline;
    }

    a {
      text-decoration : underline;
      transition      : 0.2s color;

      &:hover, &:focus {
        text-decoration : underline;
      }
    }
  }

  /* Variants
  ================================================== */

  /* Banner Mode
  ================================================== */
  &__title {
    @include ts-heading-2;
    color   : $white;
    padding : (var(--space-x)) 0;
  }

  &--banner {
    #{$class}__wrapper {
      align-items : center;
      display     : flex;
      position    : relative;
    }

    #{$class}__image-wrapper {
      padding-bottom : 43%;
      position       : static;

      @include media("<tablet") {
        padding-bottom : 56.25%;
      }
    }

    #{$class}__image {
      @include object-fit('cover');
      height   : 100%;
      left     : 0;
      position : absolute;
      top      : 0;
      width    : 100%;
    }
  }

  /* Image with caption
  ================================================== */
  &__content {
    color   : $white;
    padding : 140px 0;

    @include media("<tablet") {
      padding : (var(--space-x)) 0;
    }

    a {
      color : $white;
    }
  }

  &--caption {
    #{$class}__overlay {
      display : none;
    }
  }

  &--ratio {
    #{$class}__image-wrapper {
      padding-bottom : 56.25%;
      position       : relative;
    }

    #{$class}__image {
      @include object-fit('cover');
      height   : 100%;
      left     : 0;
      position : absolute;
      top      : 0;
      width    : 100%;
    }
  }

  /* Scrolling text over image
  ================================================== */
  &--scrolling {
    #{$class}__wrapper {
      background-attachment : fixed;
      background-size       : cover;
      position              : relative;
    }

    #{$class}__image-wrapper {
      height   : 100%;
      left     : 0;
      position : absolute;
      top      : 0;
      width    : 100%;
    }
  }
}
