.c-listing {
  
  &__inner {
	@include grid;
	grid-template-columns : 4fr 8fr;
	grid-template-rows    : auto;
  }
  
  &__input {
	background    : transparent;
	border-bottom : solid 1px $black !important;
	font-size     : 14px;
	margin-bottom : 60px;
	padding       : 10px;
	width         : 100%;
  }
  
  &__title-wrapper {
	background-color : lightseagreen;
	padding          : 50px;
  }
  
  &__search {
	background-color : peachpuff;
	padding          : 50px;
  }
  
  &__submit {
	justify-content : center;
	width           : 100%;
  }
  
  &__input-wrapper {
	position : relative;
  }
}
