.c-listing-block {
  $class     : &;
  
  background : $light-grey;
  
  &__inner {
	@include grid;
  }
  
  &__title {
	@include ts-heading-2;
	color         : $blue;
	font-weight   : 700;
	margin-bottom : var(--space-l);
	margin-top    : var(--space-3xl);
  }
  
  &__description {
	@include ts-body;
	margin-bottom : var(--space-xl);
  }
  
  &__heading {
	grid-column : 1/9;
	
	@include media('<tablet') {
	  grid-column : 1/-1;
	}
  }
  
  &__filters-wrapper {
	grid-column : 1/4;
	
	@include media('<tablet') {
	  border-bottom  : solid 1px $blue;
	  grid-column    : 1/-1;
	  margin-bottom  : var(--space-xl);
	  padding-bottom : var(--space-xl);
	}
  }
  
  &__list {
	grid-column : 4/-1;
	
	#{$class}__inner--no-filters & {
	  grid-column : 1/-1;
	}
	
	@include media('<tablet') {
	  grid-column : 1/-1;
	}
  }
  
  &__items {
	@include grid;
	grid-template-columns : repeat(3, 1fr);
	
	@include media('<tablet') {
	  grid-template-columns : repeat(2, 1fr);
	}
  }
  
  &__pagination {
	@include ts-meta;
	grid-column : 4/-1;
	overflow    : hidden;
	text-align  : center;
	
	
	#{$class}__inner--no-filters & {
	  grid-column : 1/-1;
	}
	
	@include media('<tablet') {
	  grid-column : 1/-1;
	}
	
	.page-numbers {
	  padding  : 0 2px;
	  position : relative;
	  
	  &.current {
		font-weight : 700;
	  }
	  
	  &.next,
	  &.prev {
		display : inline-block;
		height  : 10px;
		width   : 10px;
		
		> .c-list__pagination-next,
		> .c-list__pagination-prev {
		  background      : url("assets/img/arrow.png") no-repeat;
		  background-size : contain;
		  height          : 10px;
		  position        : absolute;
		  text-indent     : -9999px;
		  width           : 10px;
		}
	  }
	  
	  &.prev {
		> .c-list__pagination-prev {
		  left      : 0;
		  transform : rotate(180deg);
		}
	  }
	  
	}
  }
  
  &__no-results {
	@include sans;
  }
}
