.c-logo-block {
  $class      : &;
  
  background  : $white;
  padding-top : var(--space-3xl);
  
  &--background {
	background  : #EBEBEB;
	padding-top : var(--space-3xl);
  }
  
  &__container {
	@include o-container;
	position : relative;
  }
  
  &__heading-wrapper {
	grid-column : 1/-1;
	@include grid;
	
	@include media('<tablet') {
	  display        : flex;
	  flex-direction : column;
	}
  }
  
  &__title {
	@include ts-heading-2;
	color         : $blue;
	grid-column   : 1/7;
	margin-bottom : var(--space-xl);
	
	@include media('<tablet') {
	  @include ts-heading-3;
	  margin-bottom : var(--space-m);
	}
  }
  
  &__sub-title {
	@include ts-desc;
	color         : $black;
	grid-column   : 1/7;
	margin-bottom : 60px;
	
	@include media('<tablet') {
	  margin-bottom : var(--space-l) !important;
	  margin-right  : 100px;
	}
  }
  
  &__button-wrapper {
	grid-column : 9/-1;
  }
  
  &__cards-wrapper {
	align-items           : start;
	display               : grid;
	grid-column           : 1/-1;
	grid-column-gap       : $gutter;
	grid-row-gap          : $gutter;
	grid-template-columns : repeat(8, 1fr);
	
	
	@include media('<tablet') {
	  display        : flex;
	  flex-direction : column;
	  grid-row-gap   : 0;
	  overflow       : hidden;
	}
  }
  
  &__card {
	position : relative;
	
	&:after {
	  content        : "";
	  display        : block;
	  padding-bottom : 100%;
	}
  }
  
  &__image {
	height          : 100%;
	object-fit      : contain;
	object-position : 50% 50%;
	position        : absolute;
	width           : 100%;
  }
  
}
