.c-main-menu {
  $class          : &;

  align-items     : center;
  display         : flex;
  justify-content : flex-end;
  position        : relative;

  @include media("<tablet") {
	justify-content : flex-start;
	position        : inherit;
  }

  &__container {
	align-items : center;
	display     : flex;
	height      : 95px;
	position    : relative;
	top         : 0;
	transition  : all $transition-speed;

	&.active {
	  top : 95px;
	}
  }

  &__list {
	display         : flex;
	justify-content : flex-end;
	transition      : all 0.2s ease;

	@include media("<tablet") {
	  align-items     : center;
	  flex-direction  : column;
	  height          : 100%;
	  justify-content : center;
	}
  }

  &__list-item {
	flex-shrink : 0;
	margin      : 0 var(--space-m);

	@include media(">tablet") {
	  &:hover, &:focus {
		#{$class}__sub-menu {
		  display : block;
		}
	  }
	}

	@include media("<tablet") {
	  margin : var(--space-s) 0;

	  &.menu-item-has-children {

		#{$class}__list-item-expand {
		  cursor      : pointer;
		  display     : inline-block;
		  margin-left : var(--space-m);

		  &.is-open {
			#{$class}__list-item-expand-icon {
			  transform : rotate(45deg);
			}
		  }
		}
	  }
	}

	&.current-menu-item {
	  #{$class}__link {
		&:after {
		  display : inline;
		}
	  }
	}

	&.current-page-ancestor {
	  color : $blue;

	  #{$class}__link.ts-main-menu--level-1 {
		&:after {
		  background-color : $blue;
		  bottom           : -25px;
		  color            : $blue;
		  content          : "";
		  display          : inline;
		  height           : var(--space-s);
		  left             : 0;
		  position         : absolute;
		  width            : 100%;

		  @include media("<tablet") {
			content : none;
		  }
		}
	  }
	}

  }

  &__list-item-wrapper {
	display : flex;
  }


  &__link {
	@include ts-button;
	color    : $black;
	position : relative;

	&:hover,
	&:focus {
	  color : $blue;
	}
  }

  &.search-is-open {
	#{$class}__list {
	  // display : none;
	  // opacity          : 0;
	  transition-delay : 0.2s;
	  // visibility       : hidden;
	}

	.c-search-form {
	  opacity    : 1;
	  transition : all .5s ease;
	  visibility : visible;
	  width      : 175px;
	}

	#{$class}__list-item {
	  margin     : 0 8px;
	  transition : all .5s ease;
	}
  }

  &.is-small {
	#{$class}__sub-menu {
	  padding-top : 29px;
	}

	#{$class}__link {
	  &:after {
		bottom : -29px;
	  }
	}
  }
}
