.c-newsletter-block {
  &__container {
	@include o-container;
  }

  &__inner {
	align-items     : center;
	background      : $blue;
	border-radius   : var(--border-radius);
	color           : $white;
	column-gap      : 21px;
	display         : flex;
	justify-content : space-between;
	padding         : 46px 100px;

	@include media('<tablet') {
	  align-items    : flex-start;
	  flex-direction : column;
	  padding        : $gutter;
	}
  }

  &__text {
	@include media('<tablet') {
	  margin-bottom : $gutter;
	}
  }

  &__title {
	@include ts-heading-3;
	margin-bottom : 15px;

	@include media('<tablet') {
	  font-size   : 16px;
	  line-height : 27px;
	}
  }

  &__description,
  &__description p {
	@include ts-desc;

	@include media('<tablet') {
	  font-size   : 10px;
	  line-height : 27px;
	}
  }

  &__shortcode {
  }

  &__btn {
	background    : $white;
	border        : solid 1px transparent;
	border-left   : solid 1px $blue;
	border-radius : 0 10px 10px 0 !important;
	color         : $blue;

	&:hover {
	  background : $blue;
	  border     : solid 1px $white;
	  color      : $white;
	}
  }

  &__shortcode {
	@include media('<tablet') {
	  width : 100%;
	}
  }
}

.mc4wp-form-fields {
  align-items     : center;
  display         : flex;
  justify-content : flex-end;

  @include media('<tablet') {
	flex-direction : column;
  }

  label > input {
	border        : solid 1px transparent;
	border-radius : 10px 0 0 10px;
	font-size     : 14px;
	line-height   : 26px;
	padding       : var(--space-m) var(--space-s);

	@include media('<tablet') {
	  border-radius : 10px !important;
	  padding       : var(--space-xs) var(--space-s);
	  width         : 100% !important;
	}
  }

  @include media('<tablet') {
	> * {
	  border-radius   : 10px !important;
	  justify-content : center;
	  margin-top      : 10px !important;
	  width           : 100% !important;
	}
  }
}
