.c-pagination {
  display   : flex;
  font-size : 0;

  &__button {
    background-color : $white;
    border           : 2px solid red;
    box-sizing       : border-box;
    color            : red;
    display          : inline-block;
    font-size        : 18px;
    font-weight      : 700;
    line-height      : 26px;
    min-height       : 36px;
    min-width        : 36px;
    padding          : 4px var(--space-xs) 3px;
    text-align       : center;
    vertical-align   : top;

    @include media("<tablet") {
      min-height : 36px;
      min-width  : 36px;
      padding    : 7px 8px 4px;
    }

    & + & {
      margin-left : 1px;
    }

    &:hover,
    &:focus {
      background-color : red;
      border-color     : red;
      color            : $white;
    }

    // Current Hover
    &.is-current {
      background-color : red;
      border-color     : red;
      color            : $white;

      &:hover,
      &:focus {
        background-color : red;
        border-color     : red;
        color            : $white;
      }
    }

    &--dotted {
      display : none;
    }

    // Next/Previous
    &--next,
    &--previous {
      padding : 4px var(--space-xs) 3px;

      @include media("<tablet") {
        padding : 7px 8px 4px;
      }
    }

    &--first .o-svg,
    &--previous .o-svg {
      transform : rotate(180deg);
    }
  }

  /* If you have a full set of pagination buttons
  ================================================== */
  &--has-five {
    @include media("<tablet") {
      display     : flex;
      align-items : stretch;
    }
  }

  &--has-five &__button {
    @include media("<tablet") {
      min-width : 0;
      width     : 100%;
    }
  }
}
