.c-page-header {
  $class      : &;
  
  background  : rgb(64, 147, 195);
  background  : linear-gradient(90deg, rgba(64, 147, 195, 1) 0%, rgba(77, 178, 109, 1) 100%);
  color       : $white;
  padding-top : 113px;
  position    : relative;
  
  @include media("<=tablet") {
	padding-top : var(--space-3xl);
  }
  
  &__container {
	@include o-container;
	padding-bottom : 142px;
	
	@include media("<=tablet") {
	  padding-bottom : var(--space-2xl);
	}
  }
  
  &__wrapper {
	@include grid;
  }
  
  &__inner {
	grid-column : 2/9;
	z-index     : 1;
	
	@include media("<=tablet") {
	  grid-column : 1/5;
	}
  }
  
  &__heading {
	@include ts-heading-1;
	margin-bottom : var(--space-m);
  }
  
  &__description {
	@include ts-desc;
	
	p, ol, ul {
	  @include ts-desc;
	}
	
	a:hover, ul a:hover,
	a:focus, ul a:focus {
	  color : $black
	}
  }
  
  &--background {
	color : $white;
	
	#{$class}__featured-image {
	  bottom   : 0;
	  left     : 0;
	  overflow : hidden;
	  position : absolute;
	  right    : 0;
	  top      : -149px;
	  width    : 100%;
	  z-index  : 0;
	  
	  img {
		height          : 100%;
		object-fit      : cover;
		object-position : center;
		width           : 100%;
	  }
	  
	  &:after {
		background     : rgb(64, 147, 195);
		background     : linear-gradient(90deg, rgba(64, 147, 195, 1) 0%, rgba(77, 178, 109, 1) 100%);
		content        : "";
		height         : 100%;
		left           : 0;
		mix-blend-mode : multiply;
		opacity        : .8;
		position       : absolute;
		width          : 100%;
		z-index        : 0;
	  }
	}
	
	
	#{$class}__heading,
	#{$class}__description {
	  color : $white;
	}
  }
}
