.c-search-form {
  border-bottom : 1px solid $blue;
  opacity       : 0;
  padding       : var(--space-xs) 0;
  transition    : all .3s ease;
  width         : 0;
  
  &__label {
	@include accessible-hide;
  }
  
  &__input {
	background-color : transparent;
	padding          : 0;
	width            : calc(100% - 21px);
  }
  
  &__icon {
	position : relative;
	top      : 2px;
  }
  
  &__button {
	cursor : pointer;
	
	&:hover {
	  color : $blue;
	}
  }
}
