.c-search {

  /* Search Form
  ================================================== */
  &__form {
    background-color : peachpuff;
    padding          : 50px 0;
  }

  &__form-inner {

  }

  &__input {

  }

  &__submit {

  }

  /* Relevanssi Did You Mean
  ================================================== */
  &__did-you-mean {
    background-color : plum;
    padding          : 20px 0;
  }

  &__dym-inner {
    @include grid;
  }

  &__dym-suggestion {
    @include full-width-grid;

    a {
      font-weight     : 700;
      text-decoration : none;

      &:hover, &:focus {
        text-decoration : underline;
      }
    }
  }
}
