.c-share {
  margin-bottom : 80px;
  
  &__links {
	align-items : center;
	display     : flex;
  }
  
  &__link {
	color        : $blue;
	margin-right : 30px;
	
	&-email {
	  padding-top : 7px;
	  
	  svg {
		color  : $blue;
		height : 19px;
		width  : 28px;
	  }
	}
	
	&-facebook {
	  svg {
		color  : $blue;
		height : 21px;
		width  : 11px;
	  }
	}
	
	&-twitter {
	  
	  svg {
		color  : $blue;
		height : 17px;
		width  : 21px;
	  }
	}
	
  }
  
  
}
