.c-sidebar {
  
  @include media('<tablet') {
	margin-top : var(--space-4xl);
  }
  
  &__card-block-title {
	@include ts-heading-4;
	color          : $blue;
	grid-column    : 1/7;
	margin-bottom  : var(--space-xl);
	text-transform : uppercase;
	
	&--related-content {
	  margin-top : var(--space-4xl);
	  
	  @include media('<tablet') {
		margin-top : var(--space-2xl)
	  }
	}
  }
  
  &__card-block-cards {
	grid-column-gap : $gutter;
	
	@include media('<tablet') {
	  display               : grid;
	  grid-template-columns : repeat(1, 1fr);
	  margin-bottom         : var(--space-2xl);
	  
	  &:last-child {
		margin-bottom : 0;
	  }
	}
  }
}
