.c-single-header {
  $class : &;
  
  &__container {
	@include o-container;
	position : relative;
  }
  
  &__heading-wrapper {
	grid-column : 1/-1;
	@include grid;
  }
  
  &__title {
	@include ts-heading-3;
	color         : $blue;
	grid-column   : 1/7;
	margin-bottom : var(--space-2xl);
  }
  
  &__sub-title {
	@include ts-desc;
	color         : $black;
	grid-column   : 1/7;
	margin-bottom : 60px;
  }
}
