// SBTODO: Style the skip to content bar.
.c-skip-button {
  background-color : red;
  height           : 1px;
  left             : -10000px;
  overflow         : hidden;
  position         : absolute;
  top              : auto;
  width            : 1px;

  &:focus {
    @include z-index(skip-button);
    align-items      : center;
    background-color : red;
    color            : $white;
    display          : block;
    height           : auto;
    left             : auto;
    padding          : 10px var(--space-m);
    width            : auto;
  }
}
