/**
 * SBTODO: Needs converting to CSS Grid
 */
.c-tabs {
  &__inner {
  }

  &__nav {
    display         : flex;
    flex-direction  : row;
    justify-content : stretch;
    overflow-x      : auto;

    @include media("<tablet") {
      display : none;
    }
  }

  &__nav-item {
    align-items      : center;
    background-color : transparent;
    display          : flex;
    flex-grow        : 0;
    flex-shrink      : 1;

    &.is-active {
      background-color : red;
    }
  }

  &__nav-button {
    @include ts-heading-4;
    color          : $black;
    display        : inline-block;
    padding        : 28px 30px;
    position       : relative;
    vertical-align : top;

    &.is-active {
      color : $black;

      &:before {
        display : none;
      }
    }

    &:hover,
    &:focus {
      color : red;
    }

    &:before {
      border-right : 1px solid red;
      content      : '';
      display      : block;
      height       : 32px;
      position     : absolute;
      width        : 0;
      left         : 0;
      top          : calc(50% - 16px);
    }
  }


  &__nav-item.is-active + &__nav-item &__nav-button:before,
  &__nav-item:first-child &__nav-button:before {
    display : none;
  }

  &__tab-text {
    border-bottom  : 1px solid red;
    padding-bottom : 3px;

    .is-active & {
      border-bottom-color : transparent !important;
    }
  }

  /* Tab Contents
  ================================================== */
  &__panel {
    background-color : lime;
    display          : none;
    padding          : var(--space-xl) var(--space-xl);

    @include media("<tablet") {
      background-color : $white;
      padding          : var(--space-2xl) var(--space-m);
    }

    &.is-active {
      @include media(">tablet") {
        display : block;
      }

      @include media(">mobile") {
        display : block;
      }
    }
  }

  &__tab-content {
    & + & {
      margin-top : 34px;
    }

    &--embed {

    }

    &--image {

    }

    &--text {
      width : 80%;

      @include media("<tablet") {
        width : 100%;
      }

      &.is-two-columns {
        column-count : 2;
        column-gap   : 38px;
        width        : 100%;

        @include media("<tablet") {
          column-count : 1;
        }
      }
    }
  }

  &__image {
    display : block;
    height  : auto;
    width   : 100%;
  }

  &__image-caption-credit {
    @include ts-body;
    margin-top : var(--space-m);
    width      : 80%;

    @include media("<tablet") {
      width : 100%;
    }

    // Credit WYSIWYG output
    p {
      display : inline;
    }

    a {
      color           : red;
      text-decoration : underline;

      &:hover, &:focus {
        color           : red;
        text-decoration : underline;
      }
    }
  }

  /* Mobile (Behaves like accordions)
  ================================================== */
  &__mobile-button {
    @include ts-heading-4;
    align-items      : center;
    background-color : lime;
    color            : red;
    display          : none;
    justify-content  : space-between;
    margin-top       : var(--space-xs);
    padding          : 22px 12px 21px;
    text-align       : left;
    width            : 100%;

    @include media("<tablet") {
      display : flex;
    }

    &.is-open .o-svg {
      transform : rotate(180deg);
    }
  }

  &__mobile-button.is-open + &__panel {
    @include media("<tablet") {
      display : block;
    }
  }
}
