.c-text-block {
  $class : &;

  &__container {
	@include o-container;
	@include grid;
  }

  &__content {
	margin-bottom : var(--space-5xl);

	@include media("<tablet") {
	  margin-bottom : var(--space-4xl);
	}
  }

  &--two-columns > #{$class}__container {
	grid-column-gap       : 69px;
	grid-row-gap          : 21px;
	grid-template-columns : repeat(2, 1fr);

	@include media("<tablet") {
	  grid-column-gap       : $gutter;
	  grid-row-gap          : $gutter;
	  grid-template-columns : repeat(1, 1fr);
	}
  }

  &--one-column #{$class}__inner {
	grid-column : 1 / 9;

	@include media("<desktop") {
	  grid-column : 1 / -1;
	}
  }

  &__title {
	@include ts-heading-3;
	grid-column: 1/-1;
	color: $blue;
  }

  &__button-container {
	margin-top : var(--space-2xl);
  }

  &--one-column > #{$class}__button-container {
	@include o-container;
  }

  &--two-columns > #{$class}__button-container {
	@include o-container;
	text-align : center;
  }

  & + & {
	margin-top : calc(var(--space-2xl) * -1);

	@include media("<tablet") {
	  margin-top : 0;
	}
  }
}
