.o-gutenberg {
  @include sans;

  /* HTML elements
  ================================================== */
  @include editor-base;

  /* General Vertical spacing
  ================================================== */
  & > * {
    margin-top : var(--global--spacing-vertical);

    &:first-child {
      margin-top : 0;
    }

    &:last-child {
      margin-bottom : 0;
    }
  }

  /* Element specific
  ================================================== */

  /* Paragraph
  ================================================== */
  p {
    &.large,
    &.has-large-font-size {
      font-size : 1.8em;
    }

    &.has-normal-font-size {
      font-size : 1em;
    }

    &.small,
    &.has-small-font-size {
      font-size : 0.8em;
    }
  }

  /* Image
  ================================================== */
  img {
    display   : block;
    height    : auto;
    max-width : 100%;

    &.alignleft {
      float  : left;
      margin : 0 $gutter $gutter 0;
    }

    &.alignright {
      float  : right;
      margin : 0 0 $gutter $gutter;
    }

    &.aligncenter {
      margin-left  : auto;
      margin-right : auto;
    }
  }
}
