/* Spacing variables
================================================== */
:root {
  --global--spacing-horizontal : #{$gutter};
  --global--spacing-vertical   : var(--space-xl);
}

/* Width variables
================================================== */
:root {
  --responsive--aligndefault-width : calc(100vw - var(--responsive--spacing-horizontal));
  --responsive--alignfull-width    : 100%;
  --responsive--alignleft-margin   : var(--global--spacing-horizontal);
  --responsive--alignright-margin  : var(--global--spacing-horizontal);
  --responsive--alignwide-width    : calc(100vw - var(--responsive--spacing-horizontal));
  --responsive--spacing-horizontal : calc(2 * var(--global--spacing-horizontal) * 0.6);
}

@include media("<tablet") {
  :root {
    --responsive--aligndefault-width : min(calc(100vw - 4 * var(--global--spacing-horizontal)), #{$default_gutenberg_width});
    --responsive--alignleft-margin   : calc(0.5 * (100vw - var(--responsive--aligndefault-width)));
    --responsive--alignright-margin  : calc(0.5 * (100vw - var(--responsive--aligndefault-width)));
    --responsive--alignwide-width    : calc(100vw - 4 * var(--global--spacing-horizontal));
  }
}

@include media(">tablet") {
  :root {
    --responsive--aligndefault-width : min(calc(100vw - 8 * var(--global--spacing-horizontal)), #{$default_gutenberg_width});
    --responsive--alignwide-width    : min(calc(100vw - 8 * var(--global--spacing-horizontal)), #{$max_gutenberg_width});
  }
}

// SBTODO: Check which of these are not used.
// SBTODO: Check if we can change the media queries to work how we usually do things.

/* Width SCSS placeholders
================================================== */
%responsive-aligndefault-width {
  margin-left  : auto;
  margin-right : auto;
  max-width    : var(--responsive--aligndefault-width);
}

%responsive-alignwide-width {
  margin-left  : auto;
  margin-right : auto;
  max-width    : var(--responsive--alignwide-width);
}

%responsive-alignfull-width-mobile {
  margin-left  : auto;
  margin-right : auto;
  max-width    : var(--responsive--alignfull-width);
  width        : var(--responsive--alignfull-width);
}

@include media("<tablet") {
  %responsive-alignfull-width {
    margin-left  : auto;
    margin-right : auto;
    max-width    : var(--responsive--alignfull-width);
    width        : auto;
  }
}

%responsive-alignwide-width-nested {
  margin-left  : auto;
  margin-right : auto;
  max-width    : var(--responsive--alignfull-width);
  width        : var(--responsive--alignwide-width);
}

%responsive-alignfull-width-nested {
  margin-left  : auto;
  margin-right : auto;
  max-width    : var(--responsive--alignfull-width);
  width        : calc(var(--responsive--alignfull-width) - calc(2 * var(--responsive--spacing-horizontal)));
}

@include media(">tablet") {
  %responsive-alignfull-width-nested {
    margin-left  : auto;
    margin-right : auto;
    max-width    : var(--responsive--alignfull-width);
    width        : calc(var(--responsive--alignfull-width) - calc(4 * var(--responsive--spacing-horizontal)));
  }
}

/* Mobile
================================================== */
%responsive-alignleft-mobile {
  margin-left  : 0;
  margin-right : $gutter--mobile
}

@include media(">tablet") {
  %responsive-alignleft {
    margin-left  : $gutter;
    margin-right : $gutter;
  }
}

%responsive-alignright-mobile {
  margin-left  : $gutter--mobile;
  margin-right : 0;
}

@include media(">tablet") {
  %responsive-alignright {
    margin-left  : $gutter;
    margin-right : $gutter;
  }
}
