/* Block Alignments */

/**
 * These selectors set the default max width for content appearing inside a post or page.
 */
.o-gutenberg {
  /* The general grid/spacing rules for all (most) Gutenberg blocks.
  ================================================== */
  & > *:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator):not(.wp-block-image), // Apply to all except...
  .wp-block-image figure:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright), // We'll handle images differently due to the align class being nested inside the <div>
  *[class*="inner-container"] > *:not(.o-gutenberg):not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.wp-block-separator) // Content inside classes such as `wp-block-cover__inner-container`
  {
    @extend %responsive-aligndefault-width;
  }

  /* Alignment adjustments
  ================================================== */
  // Left aligned
  .alignleft {
    float      : left;
    margin-top : 0;
    text-align : left;

    @include media("<tablet") {
      float         : left;
      margin-bottom : var(--global--spacing-vertical);
      margin-right  : var(--global--spacing-horizontal);
    }
  }

  & > .alignleft {
    // Targeting the .o-gutenberg class is necessary to ensure these styles
    // only apply when the block isn't nested.
    @extend %responsive-alignleft;
    max-width : var(--responsive--aligndefault-width);

    @include media("<tablet") {
      max-width : calc(50% - var(--responsive--alignleft-margin));
    }
  }

  // Center aligned
  .aligncenter {
    clear        : both;
    display      : block;
    float        : none;
    margin-left  : auto;
    margin-right : auto;
    text-align   : center;
  }

  // Right aligned
  .alignright {
    float         : right;
    margin-bottom : var(--global--spacing-vertical);
    margin-top    : 0;

    @include media("<tablet") {
      float       : right;
      margin-left : var(--global--spacing-horizontal);
    }
  }

  & > .alignright {
    // Targeting the .o-gutenberg class is necessary to ensure these styles
    // only apply when the block isn't nested.
    @extend %responsive-alignright;
    max-width : var(--responsive--aligndefault-width);

    @include media("<tablet") {
      max-width : calc(50% - var(--responsive--alignright-margin));
    }
  }

  // Make sure siblings of floated elements are top-aligned when nested
  // - Selector is for Gutenberg classes such as `wp-block-cover__inner-container`
  [class*="inner-container"] > .alignleft + *,
  [class*="inner-container"] > .alignright + * {
    margin-top : 0;
  }

  // Wide alignment
  // - big, but contained within the site max width
  .alignwide {
    clear : both;
    @extend %responsive-alignwide-width;
  }

  .alignwide [class*="inner-container"] > .alignwide {
    @extend %responsive-alignwide-width-nested;
  }

  // Full alignment
  // - edge to edge of the browser
  .alignfull {
    clear : both;
    @extend %responsive-alignfull-width-mobile;
    @extend %responsive-alignfull-width;
  }

  .alignfull [class*="inner-container"] > .alignwide {
    @extend %responsive-alignwide-width-nested;
  }

  /* Content alignment
  ================================================== */
  .has-left-content {
    justify-content : flex-start;
  }

  .has-right-content {
    justify-content : flex-end;
  }

  /* Image layout properties
  ================================================== */
  // Parallax
  .has-parallax {
    background-attachment : fixed;
  }
}
